/* Fonts
	===============================================*/


@font-face{
	font-family: "OpenSans-Regular";
	src:url(../fonts/OpenSans-Regular.ttf);
}


@font-face{
	font-family: "PlayfairDisplayRegular";
	src:url(../fonts/PlayfairDisplayRegular.ttf);
}


@font-face{
	font-family: "MyriadProSemiBold";
	src:url(../fonts/MyriadProSemiBold.ttf);
}