/* Media
	===============================================*/
	
@media screen and (max-width:1200px){
	.bid {
    background: url(../img/bg-bid.png) no-repeat;
    background-size:cover;
	}
}
@media screen and (max-width:992px){
	.md{
		display:block;
		margin:0 auto;
		margin-top:20px;
	}

	.off{
		display:none;
	}

	.bid{
		text-align:center;
	}

	.map{
		margin-bottom:20px;
	}
	.to {
    	padding: 5px 0 115px 0;
  	}
	.logo{
		text-align:center;
	}

	.btn-top {
     margin-left: 4px;
	}

	.title-block-header{
		text-align:center;
		padding-top:40px;
		
	}
	.title-block-header .btn-large{
		margin:0 auto;
		margin-top:30px;
	}

	.about-us{
		background-size:cover;
	}
	.about-company{
		text-align:center;
	}

	.cen{
		text-align:center;
	}

	.link-video {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3em;
    margin-top: -3em;
	}

	.store-content{
		padding:0;
		text-align:center;
		&::before{
			display:none;
		}
	}

	.advantages-item {
    	border:none!important;
    	width: 49%;
    }

	.services-img{
		margin-right:0;
	}

    .services-text {
    
    font-size: 14px;
	}
}
@media screen and (max-width:768px){
	.bid{
		text-align:center;
	}

	.form-bid {
		margin-top:30px;
	  	padding-left:0;
	    margin-bottom: 40px;
	}
	.ttl{
		font-size: 24px;
		line-height:30px;
	}
	.description-company{
		font-size: 18px;
		margin-bottom:35px;
	}

	.lg{
		display:none;
	}

	.xs{
		display:block;
	}
	.price {
    	padding: 40px 0 20px 0;
    	background: url(../img/bg-price-xs.png);
       	background-size:cover;
    	margin-bottom: 50px;
	}
	.a-company{
		background-color: #FFF;
		margin-bottom:30px;
	}
	.about-us{
		padding:25px 0;
	}
	.advantages-block{
		flex-direction: column;
	}

	.advantages {
    padding: 50px 0;
	}

	.advantages-item{
		box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.2);
		width:100%;
		padding:55px 0;
		&:nth-last-child(1){
			border:none;
		
		}
		&:nth-last-child(2){
			border:none;
			
		}
		&:nth-last-child(3){
			border:none;
			
		}
		&:nth-last-child(5){
			border:none;
			
		}
		&:nth-last-child(6){
			border:none;
		}
		&:nth-last-child(7){
			border:none;
			
		}
		&:nth-last-child(8){
			border:none;
		}
		&:hover{
		transform:scale(1.1);
		box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.2);
		}
	}
	.ttl-store{
		font-size: 24px;
		line-height: 30px;
		margin-bottom:20px;
	}

	.desc-store{
		font-size: 18px;
		line-height:25px;
	}

	.link-item{
		display:inline-block;
		width:49%;
		margin-right:0;
	}

	.store {
	    margin-bottom: 100px;
	}

	.contant-services{
		padding-left: 15px;
	}

	.services{
		background: url(../img/bg-services-xs.png) no-repeat;
		background-position-y: bottom;
		background-size: contain;
	 }

	 .services-text{
	 	font-size: 13px;
	 }

	 .services-img {
   		 margin-right: 5px;
	}
	.bid-btn {
   		box-shadow:none;
	}

	.entry{
		background:url(../img/auto_service.png) no-repeat;
		background-size: cover;
		padding:20px 0;
		margin-bottom: 50px;
	}

	.ttl-entry {
   		font-size: 24px;
   		line-height:30px;
	}

	.form-entry input {
   	width: 100%;
    margin-right: 0;
    margin-bottom:30px;
	}

	.stand{
		text-align:center;
		.ttl{
			margin-bottom:20px;
		}
	}

	.rev{
		.slider-xs{
			margin-top:40px;
		}
	}

	.rev-item{
		width:100%;
	}

	.flex-container{
		flex-direction: column;
	}


	.copy-item{
		text-align:center;
		margin-bottom:20px;
	}

	.to {
   	background: #333333;
   	margin-top: 50px;
    margin-bottom: 50px;
    color:#fff;
    text-align:center;
    padding-top:40px;
	}
	.to .btn-large {
    margin: 0 auto;
	}
}

@media screen and (max-width:667px){
	.service-td, .price-td{
		font-size: 25px;
	}
	
	.service-bottom {
   		font-size: 0.9em;
	}

	.ser{
		font-size: 15px;
		line-height: 20px;
	}

	.pri-one, .pri, .price-bottom{
		font-size: 15px;
	}
}
@media screen and (max-width:624px){
	.btn-rev:last-child {
    	margin-left:0;
    	margin-top:10px;
	}

	.span{
		display:none;
	}

	.red{
		&::before{
			background: url(../img/before.png)
		}
	}

	.contact-item{
		&::before{
			margin-right:5px;
		}
	}

	.contact-item{
		font-size: 18px;
	}
}

@media screen and (max-width:640px){
	.stand{
		text-align:center;
	}
}
@media screen and (max-width:568px){
	.ttl-header{
		font-size: 19px;
	}

	.ttl-header-bold{
		font-size: 27px;
		line-height:30px;
	}
}
@media screen and (max-width:480px){
	.contact-item{
		font-size: 12px;
		line-height: 10px;
	}

	.map{
		display:none;

	}

	.contact-right{
		display:none;
	}

	.price{
		text-align:center;
	}
}
@media screen and (max-width:414px){
	
	.ttl-header{
		font-size: 16px;
	}

	.ttl-header-bold{
		font-size: 24px;
		line-height:30px;
	}
}
@media screen and (max-width:375px){}
@media screen and (max-width:360px){}
@media screen and (max-width:320px){
	.to {
    background: url(../img/New-Rio.png) no-repeat;
    background-position-y:bottom;
   	margin-top: 50px;
    margin-bottom: 50px;
    	.ttl{
    		color:#000;
    	}
	}

	.desc-to{
		color:#000;
	}
	.title-block-header{
		text-align:center;
		padding-top:40px;
		background:url(../img/bg-header-xs.png) no-repeat;
		background-position: -15px 5px;
		background-position:center;
	}
}