*{
	margin:0px;
	padding:0px;
}

ul{
	list-style: none;
}

a{
	text-decoration:none;
}

body{
	font-family:"RobotoLight";
	background-color:#bbb;
}

@font-face {
	font-family: "RobotoLight" ;
	src:url(fonts/RobotoLight/RobotoLight.ttf);
}

#wrapper{
	width:1920px;
	height:1080px;
	background: url(images/map.png) no-repeat;
	margin:0px auto;
	position: relative;
	
}



.left-section{
	width:300px;
	height:1080px;
	z-index: 2;
	background-color:#242B2E;
	box-shadow:7px 1px 4px 0px rgba(32, 50, 50, 0.51);
	float: left;

}


.logo{
	height:93px;
	background-color:white;
	padding: 32px 60px 0px 52px;
}


/*MENU BEGIN*/
.navigation a{
	color:white;

}

.navigation  li {
	padding:25px 25px 25px 0px;
	background-color:#31393D;
	margin-bottom:2px;
	text-align:right;
	transition:0.8s;
}

.navigation  li:hover {
	background-color: #2EB9B7;

}	

/*MENU END*/

.filter {
	margin:25px 23px 33px 209px;
}


.filter-menu li {
	font-size:13px;
	text-align:right;
	padding-right: 29px;
	margin-bottom: 15px;
}

.filter-menu a{
	color:#616669;
}

.filter-menu a:hover{
	color:white;
}


.social-img{
	height:24px;
	margin:0px 23px 25px 35px;

}

.social-img img{
	margin-left: 5px;
}


.copy{
	color:#616669;
	font-size:12px;
	margin:0px 20px 0px 70px;
}

/**FORM BEGIN**/

.container{
	width:721px;
	height:425px;
	background-color:white;
	padding:30px;

	position: absolute;
	top:17px;
	left: 320px

}

.top-text{
	font-size:24px;
	color:black;
	margin-bottom:22px;
}

.bottom-text{
	font-size:18px;
	color:#B8B8B8;
}

.text{
	border-bottom:1px solid #B8B8B8;
	padding-bottom:29px;
	margin-bottom:23px;
}


.form{
	width:712px;
	height:200px;
} 

.form-left{
	width: 350px;
	float:left;
	margin-right:10px;
	
}



.form-left input {
	
	border:1px solid #B8B8B8;
	margin-bottom:10px;
	height:57px;
	width:270px;
	padding-left: 17px;
	font-size: 14px;

}

.form-right textarea{
	border:1px solid #B8B8B8;
	width: 325px;
	height:112px;
	font-size:14px;
	padding:14px 0px 0px 14px;
	resize: none

}

.form-right input{
	height:57px;
	width:341px;
	background-color:#2EB9B7; 
	border:1px solid #B8B8B8;
	text-transform: uppercase;
	color:white;
	margin-top:10px;
	cursor:pointer;
}

.form-right input:active{
	color:black;
}


.form-left .img  {
	height: 57px;
	width:58px;
	padding:0px;
	border-right:none;
	float: left;
}
 /**FORM END**/