@media screen and (max-width:1490px){

	.twitter{
		display:none;
	}

	.waxom, .post,  .widget {
    	width: 31%;
    	margin-left: 15px;
    	margin-top: 106px;
	}
}

@media screen and (max-width:1350px){
	.form{
		display:none;
	}
}

@media screen and (max-width:1150px){

	.post{
		display:none;
	}

	.waxom, .widget{
		width:40%;
		margin:0;
	}
}
@media screen and (max-width:1250px){
	.wrapper-mobile ul li {
		font-size: 14px;
	}
	.wrapper-mobile p{
		font-size: 14px;
	}

	.wrapper-mobile h3{
		font-size: 25px;
	}
}

@media screen and (max-width:1100px){
	.left, .center, .right {
    
    width: 40%;
     margin-right: 10%;
    }
}
@media screen and (max-width:1070px){
	.form{
		display: none;
	}

	.man{
		display: none;
		position: relative;
		z-index: 1;

	}

	.menu{
		margin:0;
		text-align: center;
		margin-top: 30px;
		margin:0 auto;
		width:100%;
		
	}

	.menu ul li{
		display: block;
		margin-left:0;
		background-color:rgba(25, 25, 25, .5);
		border-bottom:1px solid #fff;

	}	


	.drop{
		display: block;
	}

	
}

@media screen and (max-width:1050px){
 .web,
 .dev,
 .cust,
 .mark {width:45%;}



.adver a {
    margin-right: 20px;
    }

}



@media screen and (max-width:1170px){}

@media screen and (max-width:1140px){
	



 .content h3{
 	font-size: 15px;
 }

 .content .fa{font-size: 45px;}

 .content p{font-size: 12px;}

 .wrapper-mobile ul li {
		font-size: 12px;
	}
	.wrapper-mobile p{
		font-size: 12px;
	}

	.wrapper-mobile h3{
		font-size: 22px;
	}

}

@media screen and (max-width:860px) {
	.waxom, .widget{
		width:49%;
		
		margin:0;
	}
}

@media screen and (max-width:1024px){
	

	.slider h3{font-size:25px;}

	.slider h2{font-size:40px;}

	.slider a.button{
		padding: 13px 20px 13px 20px;
		font-size: 12px;
	}

	.content-button .button{
		    padding: 15px 5px 15px 5px;
            font-size: 10px;
    }


    .left_text h3{
		font-size: 13px;
		margin-bottom: 14px;
    }
	
	.left_text p{
		font-size: 10px;
	}

	.content-xl .button{
		padding: 13px 20px 13px 20px;
		font-size: 12px;
	}
	.web,
 	.dev,
 	.cust,
 	.mark {}

 	.cust{clear:both;}

	

 	.content h3{font-size: 15px;}

 	.content .fa{font-size: 45px;}

 	.content p{font-size: 12px;}
	
	.footer-bottom{
		text-align:center;
	}

	.left-footer{
		display: block;
		float: none;
		margin-bottom: 10px;
	}
	.right-footer{
		display: block;
		float: none;
	}

	.wrapper-mobile ul li {
		font-size: 10px;
	}
	.wrapper-mobile p{
		font-size: 10px;
	}

	.wrapper-mobile h3{
		font-size: 20px;
	}

	.wrapper-mobile ul li::before{
		font-size: 20px;
	}

		.wrapper-mobile {width: 67%;}
}



@media screen and (max-width:768px){

	.waxom, .widget{
		width:100%;
		text-align: center;
		margin:0;
	}
	.news-wrapper h3 {
    font-size: 20px;
   }

   .news-wrapper p {
    font-size: 10px;
   }

	
	.slider h3{font-size:20px;}

	.slider h2{font-size:35px;}

	.slider p{
		font-size:10px;
		display: inline-block;
		width: 65%;
	}

	.slider a.button{
		padding: 10px 15px 10px 15px;
		font-size: 12px;
	}

	.web,
    .dev,
    .cust,
    .mark {
    	width:100%;
    	margin-left:0;
    }


	
}



@media screen and (max-width:600px){
	.wrapper-mobile{
		width:100%;
	}

	.mobile {
    padding-top: 75px;
 }

 .wrapper-mobile ul li::before {
    padding-right: 10px;
    margin:0;
  }
}



@media screen and (max-width:480px){
	.new{
		display:none;
	}
}

@media screen and (max-width:460px){
	.left, .center, .right {
    	width: 100%;
    	margin-right: 0;
    }



@media screen and (max-width:320px){}