/*	===		RESET	===	*/
body {
  margin: 0;
  padding: 0;
  line-height: 1.25; }

a, button, div, span, input {
  outline: none !important; }

input {
  border: 1px solid #000; }

button {
  outline: none !important;
  border: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none;
  color: #57ADAD; }

img {
  max-width: 100%;
  border-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

audio, video {
  display: inline-block; }

article, aside, footer, header, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  padding: 0;
  margin: 0; }

/*	===	FONTS ===  */
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Light.ttf);
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: 500; }

a,
button,
input {
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }

/*	= TEXT ALIGN =	*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/*	= STYLE =	*/
.ttl-block {
  color: #ffff;
  font-size: 40px; }

body {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  background: #f2f2f2; }

/*	=====	HEADER  ===== */
header {
  height: 555px;
  background: url(../img/bg-header.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% bottom; }

.top-panel {
  background: #1a5f76;
  padding: 5px 0 10px 210px;
  border-bottom: 1px solid #a1a1a1; }

.top-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.link-logo {
  font-size: 23px;
  font-family: "Roboto";
  font-weight: 500;
  color: #ffff;
  margin-right: 110px; }

.link_logo {
  display: none;
  font-size: 23px;
  font-family: "Roboto";
  font-weight: 500;
  color: #ffff;
  margin-right: 20px; }

.search {
  width: 850px;
  border: 1px solid #004358;
  position: relative;
  margin-right: 400px; }
  .search form {
    width: 100%; }

.search-item {
  width: 100%;
  border: none;
  padding: 9px 50px 7px 70px;
  font-weight: 400;
  font-family: "Roboto"; }

.search-btn {
  padding: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: transparent; }
  .search-btn .fa {
    color: #22282d;
    font-size: 16px; }

.option-btn {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer; }
  .option-btn .fa {
    color: #ff4c3a;
    font-size: 18px;
    margin-right: 5px; }

.ar {
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #43494b;
  vertical-align: middle; }

.option-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  display: none;
  z-index: 99; }

.option-item {
  margin-bottom: 10px;
  font-weight: 400;
  cursor: pointer; }
  .option-item:last-child {
    margin-bottom: 0; }
  .option-item a {
    color: #000;
    font-family: "Roboto";
    font-weight: 400; }

.bell {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 20px; }
  .bell .fa {
    font-size: 16px; }

.photo-person {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url(../img/photo.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50%; }

.num {
  display: inline-block;
  position: absolute;
  background: #ff0000;
  right: -10px;
  top: -10px;
  width: 14px;
  height: 16px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  text-align: center;
  color: #fff;
  font-size: 10px; }

/*	=====		CONTENT		=====	*/
.content {
  margin-top: -200px;
  margin-bottom: 100px; }

.content-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.left {
  width: 76%; }
  .left .ttl-block {
    margin-left: 100px;
    margin-bottom: 20px; }
    .left .ttl-block .decor {
      margin-right: 20px; }
  .left .additions-ttl {
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 50px;
    font-size: 14px;
    color: #fff; }

.accordion {
  margin-left: 50px; }

.accordion-item {
  padding: 70px 45px 0 55px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 20px; }
  .accordion-item:last-child {
    margin-bottom: 0; }

.accordion-top {
  position: relative;
  padding-bottom: 45px;
  cursor: pointer; }
  .accordion-top .fa-graduation-cap {
    font-size: 22px;
    margin-right: 25px; }

.accordion-btn {
  position: absolute;
  right: 0;
  top: 6.5px; }

.accordion-ttl {
  font-size: 24px;
  font-weight: 400; }

.accordion-txt {
  display: none;
  padding-bottom: 120px;
  padding-left: 50px; }
  .accordion-txt .txt {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px; }

.active {
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1); }

.right {
  width: 22.5%; }
  .right .ttl-block {
    margin-bottom: 20px; }
  .right .additions-ttl {
    display: inline-block;
    margin-bottom: 50px;
    font-size: 14px;
    color: #fff; }

.course-item {
  background: #fff;
  padding: 15px 12px 20px 12px;
  position: relative; }
  .course-item .txt {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 25px; }

.logo {
  position: absolute;
  left: 20px;
  top: -15px;
  background: #fff;
  width: 85px;
  height: 85px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4); }
  .logo img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.star {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
  margin-bottom: 16px; }
  .star .fa {
    font-size: 25px;
    color: #015297; }

.photo {
  margin-bottom: 25px; }
  .photo img {
    min-width: 100%; }

.name-school {
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  margin-bottom: 20px; }
  .name-school .decor {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin-right: 10px; }

.hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #d1d1d1;
  margin-bottom: 15px; }

.reg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  font-size: 14px;
  color: #4c4c4c;
  font-weight: 400; }
  .reg .decor {
    margin-right: 10px; }
    .reg .decor .fa {
      font-size: 22px; }

.course {
  padding-bottom: 200px; }
  .course .ttl-block {
    color: #000;
    padding-left: 70px;
    margin-bottom: 40px; }

.slide {
  margin: 0 5px;
  padding-top: 20px; }

.course-next {
  width: 60px;
  height: 60px;
  background: #fff;
  position: absolute;
  right: -70px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: -1px 3px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -1px 3px 5px 0 rgba(0, 0, 0, 0.5); }

.course-prev {
  width: 60px;
  height: 60px;
  background: #fff;
  position: absolute;
  left: -70px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: -1px 3px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -1px 3px 5px 0 rgba(0, 0, 0, 0.5); }
  .course-prev img {
    -webkit-transform: scale(-1);
        -ms-transform: scale(-1);
            transform: scale(-1); }

/*	=====	FOOTER	=====	*/
