*{
	margin:0px;
	padding:0px;
}

ul{
	list-style: none;
}

a{
	text-decoration:none;
}

body{
	font-family:"RobotoLight";
	background-color:#bbb;
}

@font-face {
	font-family: "RobotoLight" ;
	src: url(fonts/RobotoLight/RobotoLight.ttf);
}

.hr{
	display:block;
	width:110px;
	height:2px;
	background-color:#fff;
	margin:20px 0 20px 35px;

}
#wrapper{
	width:1920px;
	height:2520px;
	margin:0px auto;
	position: relative;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}



.left-section{
	width:300px;
	height:2520px;
	position: absolute;
	background-color:#242B2E;
	box-shadow:7px 1px 4px 0px rgba(32, 50, 50, 0.51);
	float:left;
	

}


.logo{
	height:93px;
	background-color:white;
	padding: 32px 0px 0px 92px;
}


/*MENU BEGIN*/
.navigation a{
	color:white;

}

.navigation  li {
	padding:25px 25px 25px 0px;
	background-color:#31393D;
	margin-bottom:2px;
	text-align:right;
	transition:0.8s;
}

.navigation  li:hover {
	background-color: #2EB9B7;

}	

/*MENU END*/

.filter {
	margin:25px 23px 33px 209px;
}


.filter-menu li {
	font-size:13px;
	text-align:right;
	padding-right: 29px;
	margin-bottom: 15px;
}

.filter-menu a{
	color:#616669;
}

.filter-menu a:hover{
	color:white;
}


.social-img{
	height:24px;
	margin:0px 23px 25px 35px;

}

.social-img img{
	margin-left: 5px;
}


.copy{
	color:#616669;
	font-size:12px;
	margin:0px 10px 0px 85px;
}

/**INFO-MENU BEGIN **/

.info{
	position:absolute;
	top:0px;
	right:0px;
	font-size: 16px;
	z-index:999;
}


.info li {
	height:80px;
	width:80px;
	overflow: hidden;
}

.info li:hover {
	width: 285px;
	height: 300px;
}

.info li a {
	display:block;
	width: 285px;
	height:70px;
	line-height:70px;
	background-color:black;
	color:white;
	padding-left: 10px;
	
	opacity:.7;
	transition: background .2s ease-in-out;
	position: relative;
	top:80px;
	right: 0px;
}

.info img {
	display: inline-block;
	margin: 0px 5px 0px 10px;
}

.info li a:first-child {
	width: 75px;
	height:80px;
	line-height: 80px;
	position:absolute;
	top: 0px;
	right:0px;
	background-color:#2EB9B7; 
	opacity: 1;
}



.info li a:first-child::before{
	content: '';
	position: absolute;
	height: 65px;
	width:65px;
	top:5px;
	left:9px;
}

.info li a:first-child::before{
	background: url(Images/info.png) center no-repeat;
}
 

 /**INFO-MENU END**/
.image{
	margin-left: 300px;
}
 .image  div{
 float: left;
 }

 .img-block{
 	position:relative;
 	text-align:center;
 }

 .img-block::before{
 	content:"";
 	position:absolute;
 	width:100%;
 	height:100%;
 	background-color:#2db8b7;
 	opacity:.8;
 	display:none;
 	transition: all 25s;
 }

 .text{
 	width:185px;
 	position:absolute;
 	top:50%;
 	left:50%;
	margin-left:-90px;
	margin-top:-40px;
	color:#fff;
	display:none;
 }

 .text span{
 	display:block;
 }

 .arrow{
 	height:65px;
 	width:65px;
	margin-left:55px;
 }

 .arrow a{
 	display:block;
 }


.img-block:hover::before{
	display:block;
}
.img-block:hover .text{
	display:block;
}