/*==========MEDIA===========*/
@media screen and (max-width: 1650px) {
  .section8 .ttl-block {
    font-size: 45px;
    line-height: 50px !important; }
  .section8 .btn-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0; }
  .platforms1,
  .platforms2 {
    height: 385px;
    position: relative; }
  .platforms1-next,
  .platforms1-prev {
    bottom: -72px; }
  .platforms2-next,
  .platforms2-prev {
    bottom: -50px; } }

@media screen and (max-width: 1400px) {
  .left-panel {
    width: 70px; }
  .logo {
    width: 70px;
    height: 70px; }
  .logo-link {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 30px;
    width: 60px; }
  .nav {
    padding: 15px 0;
    padding-left: 75px; }
  .nav-link {
    font-size: 18px; }
  .arrow {
    width: 70px;
    height: 70px; }
  .ttl-block {
    font-size: 45px;
    line-height: 50px !important; }
  .btn-275 {
    width: 200px; }
  .btn-210,
  .btn-210-white {
    width: 150px; }
  .btn-275,
  .btn-210,
  .btn-210-white,
  .btn-200 {
    font-size: 14px;
    padding: 10px 0; }
  .clientsSlider {
    margin-bottom: 60px; }
  .clients-box1, .clients-box2, .clients-box3 {
    margin-bottom: 20px; }
  .section2 .ttl-block {
    margin-bottom: 40px; }
  .section3 .btn-panel {
    width: 95%;
    margin: auto;
    margin-bottom: 20px; }
  .worksSlider {
    width: 95%;
    margin: auto;
    margin-bottom: 20px; }
  .works-prev,
  .works-next {
    bottom: -60px; }
  .section4 .ttl-block {
    margin-bottom: 160px; }
  .section4 .hr-165 {
    margin: 10px 0; }
  .we {
    padding-top: 55px; }
  .we-txt {
    margin-bottom: 10px; }
  .agency-this {
    margin-bottom: 10px; }
  .section5 .ttl-block {
    margin-bottom: 40px; }
  .section6 .ttl-block {
    margin-bottom: 20px; }
  .section6 .hr-165 {
    margin-bottom: 15px; }
  .additions-advantages2 {
    margin-bottom: 40px; }
  .advantages2-flex {
    margin-bottom: 35px; }
  .adv2-txt {
    margin-bottom: 15px; }
  .section7 .ttl-block {
    margin-bottom: 40px; }
  .section7 .hr-75 {
    margin: 15px 0; }
  .works-info {
    padding-top: 20px; }
  .works-info-item .works-sale {
    margin-bottom: 25px; }
  .platforms-flex {
    width: 95%;
    margin: auto;
    margin-bottom: 100px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .platforms1 {
    width: 30.5%;
    margin-right: 10px; }
  .platforms2 {
    width: 45.75%; }
  .platforms-slogan {
    font-size: 27px; }
  .platforms2 .btn-panel {
    margin-top: 28px; }
  .name-pack {
    font-size: 35px;
    top: -60px; }
  .price-flex {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .price-item {
    padding: 90px 0 35px 0; }
  .included-ttl {
    margin-bottom: 10px; }
  .included-item {
    font-size: 15px;
    margin-bottom: 10px; }
  .team {
    padding-top: 20px; }
  .section10 .ttl-block {
    margin-bottom: 20px; }
  .structure-team {
    margin-bottom: 20px; }
  .team-txt {
    margin-bottom: 20px; }
  .contact {
    padding-top: 20px; }
  .credit-txt {
    margin-bottom: 15px; }
  .credit-item .hr-75 {
    margin: 10px 0; }
  .bank {
    margin-bottom: 15px; }
  .contact-flex {
    margin-bottom: 25px; } }

@media screen and (max-width: 1300px) {
  .section3 .quote {
    margin-bottom: 95px; }
  .section9 .quote {
    margin-bottom: 100px; }
  .advantages1-flex {
    margin-bottom: 45px; }
  .works-info-flex {
    margin-bottom: 150px; }
  .section11 .btn-panel {
    margin-bottom: 120px; } }

@media screen and (max-width: 1200px) {
  .quote {
    font-size: 16px;
    line-height: 18px; }
  .ttl-block {
    font-size: 40px;
    line-height: 40px !important; }
  header {
    padding-top: 80px; }
    header .additions-ttl {
      font-size: 20px;
      margin-bottom: 25px; }
    header .ttl-block {
      margin-bottom: 20px; }
    header .btn-275 {
      margin-bottom: 45px; }
  .section3 .quote {
    margin-bottom: 50px; }
  .section4 .ttl-block {
    margin-bottom: 180px; }
  .works-img {
    height: 300px;
    width: 100%; }
  .works-overlay {
    padding-top: 210px; }
  .section5 {
    background: url(../img/bg-advantages1.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%; }
  .clients-item {
    width: 26%; }
  .clients-img {
    height: 25px; }
  .section2 .hr-85 {
    margin-bottom: 15px; }
  .name-clients {
    font-size: 18px; }
  .clients-prev {
    width: 100px;
    height: 35px;
    right: 88.5px; }
  .clients-next {
    width: 100px;
    height: 35px;
    right: -15px; }
  .additions-advantages2 {
    font-size: 20px; }
  .platforms1 {
    width: 35%;
    margin-right: 10px; }
  .platforms2 {
    width: 50%; }
  .platformsSlider1,
  .platformsSlider2 {
    height: 300px; }
  .platforms2-next, .platforms2-prev {
    bottom: -69px; }
  .platforms-img {
    width: 29%; }
  .platforms-slogan {
    font-size: 23px; }
  .we-txt {
    font-size: 16px;
    line-height: 19px; }
    .we-txt br {
      display: none; }
  .advantages1-txt {
    font-size: 14px;
    line-height: 16px; }
  .advantages1-ttl {
    font-size: 18px; }
  .included-ttl {
    font-size: 18px;
    line-height: 18px; }
  .price-flex {
    margin-bottom: 10px; }
  .price-item {
    padding: 80px 0 30px 0; }
    .price-item .hr-75 {
      margin: 10px auto; }
  .name-site {
    font-size: 16px; }
  .data-price {
    font-size: 15px; }
  .sum {
    font-size: 18px; }
  .included-item {
    font-size: 14px; }
  .section10 .additons-ttl {
    font-size: 20px; }
  .structure-team {
    width: 45%; }
  .team-item {
    margin-bottom: 10px;
    font-size: 16px; }
  .team-txt {
    line-height: 19px; }
  .contact-item {
    width: 45%; }
  .credit-item {
    width: 50%; }
  .contact-info, .contact-phone, .contact-email {
    font-size: 18px;
    line-height: 35px; }
  .credit-txt {
    margin-bottom: 5px;
    font-size: 14px; }
    .credit-txt br {
      display: none; }
  .copyright {
    font-size: 18px; }
  .company {
    font-size: 18px; } }

@media screen and (max-width: 992px) {
  .modal-application {
    background: #fff;
    width: 100%;
    height: initial;
    position: initial;
    left: initial;
    top: intial;
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial;
    border-top: 15px solid #d4b080;
    padding-right: 0; }
  .modal-content {
    float: initial;
    width: 65%;
    margin: auto; }
    .modal-content .btn-210 {
      margin: auto;
      width: 170px;
      font-size: 16px;
      padding: 15px 0; }
  .quote {
    font-size: 14px; }
  .ttl-block {
    margin-left: 0; }
  header .additions-ttl {
    margin-left: 0; }
  header .btn-275 {
    margin-left: 0; }
  header .quote {
    margin-left: 0; }
  .clients-item {
    width: 33%; }
  .clients-prev,
  .clients-next {
    bottom: -50px;
    width: 100px;
    height: 30px; }
  .worksSlider {
    width: 100%; }
  .works-img {
    height: 250px; }
  .works-zoom {
    width: 30px;
    height: 30px; }
  .works-overlay {
    padding-top: 175px; }
  .works-prev, .works-next {
    width: 100px;
    height: 30px;
    bottom: -55px; }
  .name-works {
    font-size: 14px; }
  .we-info {
    margin-left: 80px; }
  .agency-info {
    font-size: 16px; }
  .section3 .quote br {
    display: none; }
  .section3 .btn-panel {
    width: 100%; }
  .section4 .ttl-block {
    margin-top: 100px;
    margin-bottom: 95px; }
  .section5 .hr-75 {
    margin: 10px 0;
    margin-left: -15px; }
  .advantages1-flex {
    padding-left: 80px; }
  .advantages1-txt {
    font-size: 11px; }
    .advantages1-txt br {
      display: none; }
  .advantages1-ttl {
    font-size: 14px;
    line-height: 0px; }
  .section6 .quote {
    margin-left: 0; }
  .additions-advantages2 {
    font-size: 19px;
    margin-bottom: 20px;
    margin-left: 0; }
  .advantages2-flex {
    padding-left: 0;
    margin-bottom: 40px; }
  .adv2-txt {
    margin-bottom: 15px;
    margin-left: 0;
    font-size: 11px; }
  .advantages2-name {
    font-size: 14px;
    margin-bottom: 10px; }
  .advantages2-img {
    height: 45px;
    margin-bottom: 10px; }
  .works-info-txt {
    font-size: 11px; }
  .works-info-img {
    width: 30px;
    height: 30px;
    margin-right: 20px; }
  .svg-img {
    height: 20px; }
  .works-info-item .works-sale {
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500; }
  .works-info-item .btn-275 {
    margin-left: 30px; }
  .section8 .ttl-block {
    font-size: 35px;
    line-height: 35px !important; }
  .section8 .btn-panel {
    height: 50px; }
  .platforms-slogan {
    font-size: 19px;
    margin-top: 20px; }
  /* .platforms1, 
	.platforms2{
		height:300px;
	} */
  .platforms1, .platforms2 {
    height: 350px;
    position: relative; }
  .platforms1-next {
    width: 100px;
    height: 30px;
    bottom: -40px; }
  .platforms1-prev {
    width: 100px;
    height: 30px;
    bottom: -40px; }
  .platforms2-next, .platforms2-prev {
    width: 100px;
    height: 30px;
    bottom: -40px; }
  .price {
    padding-top: 20px; }
  .price-flex {
    margin-bottom: 40px; }
  .price-item {
    border: 7px solid #d4b080;
    width: 24%; }
    .price-item .btn-210 {
      width: 130px;
      font-size: 14px; }
  .name-pack {
    font-size: 30px;
    top: -55px;
    line-height: 30px;
    padding: 10px; }
  .name-site {
    font-size: 14px; }
  .data-price {
    font-size: 10px; }
  .sum {
    font-size: 14px; }
  .included-ttl {
    font-size: 14px; }
    .included-ttl br {
      display: none; }
  .included-item {
    font-size: 10px;
    padding-left: 20px; }
  .included {
    width: 20%; }
  .section10 .additons-ttl {
    font-size: 19px;
    margin-left: 0; }
  .structure-team {
    width: 50%;
    margin-left: 0; }
  .manager {
    font-size: 19px;
    top: -25px; }
  .team-item {
    font-size: 11px; }
    .team-item:before {
      left: -2px;
      top: 3px; }
  .team-txt {
    margin-left: 0;
    font-size: 13px;
    line-height: 15px; }
  .section10 .quote {
    margin-left: 0; }
  .section11 .btn-panel {
    height: 50px; }
  .reviews-txt {
    height: 145px;
    width: 300px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    padding: 35px 20px 0 40px; }
    .reviews-txt .hr-75 {
      margin-bottom: 15px; }
    .reviews-txt .txt {
      font-size: 10px; }
  .reviews-name {
    font-size: 14px;
    margin-bottom: 10px; }
  .reviews-next {
    width: 100px;
    height: 30px;
    bottom: -70px; }
  .reviews-prev {
    width: 100px;
    height: 30px;
    bottom: -70px; }
  .section12 .ttl-block {
    margin-bottom: 90px; }
  .contact-info, .contact-phone, .contact-email {
    font-size: 14px;
    line-height: 30px;
    margin-left: 0; }
  .credit-item .btn-275 {
    margin-top: 20px; }
  .bank {
    height: 120px; }
  .credit-txt {
    margin-bottom: 5px;
    font-size: 12px; }
  .ttl-top-offers {
    font-size: 19px; }
  .top-offers-txt {
    font-size: 14px; }
  .map {
    height: 170px;
    width: 50%; }
  .top-offers {
    height: 170px;
    width: 50%; }
  footer {
    background: #fff;
    padding: 25px 0 40px 0; } }

@media screen and (max-width: 850px) {
  .ttl-block {
    font-size: 31px;
    margin-left: 45px; }
  header .additions-ttl {
    margin-left: 50px;
    font-size: 13px; }
  header .ttl-block {
    margin-bottom: 0; }
  header .btn-275 {
    margin-left: 45px; }
  header .quote {
    margin-left: 45px; }
  .worksSlider {
    width: 95.5%;
    margin: auto;
    margin-bottom: 20px; }
  .section3 .btn-panel {
    width: 95%;
    margin: auto;
    margin-bottom: 20px; }
  .additions-advantages2,
  .advantages2-flex,
  .adv2-txt {
    margin-left: 45px; }
  .section6 .quote {
    margin-left: 45px; }
  .section10 .additons-ttl {
    margin-left: 45px; }
  .section10 .quote {
    margin-left: 45px; }
  .structure-team {
    margin-left: 45px; }
  .team-txt {
    margin-left: 45px; }
  .contact-info, .contact-phone, .contact-email {
    margin-left: 45px; }
  .copyright {
    margin-left: 25px; }
  .left-panel {
    width: 50px; }
  .logo {
    width: 50px;
    height: 50px; }
  .logo-link {
    width: 35px;
    height: 20px; }
  .phone-link {
    font-size: 14px; }
  .btn-275, .btn-210, .btn-210-white, .btn-200 {
    font-size: 10px;
    padding: 5px 0; }
  .btn-210,
  .btn-210-white {
    width: 100px; }
  .btn-275 {
    padding: 10px;
    width: 130px; }
  .nav-link {
    font-size: 10px; }
  .nav {
    padding: 10px 0;
    padding-left: 85px; }
  .arrow {
    width: 50px;
    height: 50px; }
    .arrow img {
      height: 30px; } }

@media screen and (max-width: 768px) {
  .quote {
    font-size: 10px;
    line-height: 13px; }
  .left-panel {
    display: none; }
  .arrow {
    display: none; }
  .nav {
    padding-left: 0; }
  .nav-item {
    margin-right: 25px; }
  .link__site {
    display: block; }
  .ttl-block {
    margin-left: 0; }
  .section1 {
    background: url(../img/bg_mobile/bg-header.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%; }
  header {
    padding-bottom: 50px; }
    header .additions-ttl {
      margin-left: 0;
      font-size: 13px; }
    header .ttl-block {
      margin-bottom: 0; }
    header .btn-275 {
      margin-left: 0; }
    header .quote {
      margin-left: 0; }
  .clients-img {
    margin-left: 10px;
    height: 15px; }
  .name-clients {
    margin-left: 10px;
    font-size: 10px; }
  .section2 {
    background: url(../img/bg_mobile/bg-clients.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%; }
    .section2 .hr-85 {
      margin-left: 0;
      margin-bottom: 5px; }
  .worksSlider {
    width: 100%;
    margin-bottom: 20px; }
  .works-img {
    height: 180px; }
  .works-overlay {
    padding-top: 125px; }
  .name-works {
    font-size: 10px; }
    .name-works:after {
      width: 100px; }
  .section3 .btn-panel {
    width: 100%;
    margin: auto;
    margin-bottom: 20px; }
  .section3 .quote {
    margin-left: 40px; }
  .section4 .ttl-block {
    margin-top: 20px;
    margin-left: 40px; }
  .section4 .quote {
    margin-left: 40px; }
  .we-info {
    margin-left: 0; }
  .we-txt {
    font-size: 11px;
    line-height: 13px; }
  .agency-this {
    font-size: 10px; }
  .agency-info {
    font-size: 11px;
    margin-bottom: 0; }
  .additions-advantages2,
  .advantages2-flex,
  .adv2-txt {
    margin-left: 0; }
  .section5 .ttl-block {
    margin-bottom: 10px; }
  .advantages1-box1 .mb {
    margin-bottom: 133px; }
  .advantages1-flex {
    padding-left: 0; }
  .section6 {
    background: url(../img/bg_mobile/bg-advantages2.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%; }
    .section6 .quote {
      margin-left: 0;
      margin-bottom: 40px; }
  .additions-advantages2 {
    font-size: 14px; }
  .section8 .ttl-block {
    font-size: 30px; }
  .works-info-flex {
    margin-bottom: 80px; }
  .platforms1 {
    width: 40.5%; }
  .name-pack {
    font-size: 23px;
    line-height: 22px; }
  .name-site {
    display: block;
    font-size: 12px;
    text-align: left;
    padding-left: 3px; }
  .price-item {
    padding: 70px 0 10px 0; }
    .price-item .hr-75 {
      margin-left: 5px;
      width: 40px; }
    .price-item .btn-210 {
      width: 90px; }
    .price-item:nth-child(2) {
      padding: 55px 0 10px 0; }
  .sum {
    font-size: 12px; }
  .included {
    width: 23%; }
  .included-ttl {
    font-size: 11px;
    line-height: 11px; }
  .included-item {
    padding-left: 15px;
    line-height: 10px; }
    .included-item:before {
      width: 4px;
      height: 4px; }
  .section9 .quote {
    margin-bottom: 40px; }
  .section10 .additons-ttl {
    font-size: 13px;
    margin-left: 0; }
  .section10 .quote {
    margin-left: 0;
    margin-bottom: 40px; }
  .structure-team {
    margin-left: 0;
    border: 3px solid #d4b080; }
  .manager {
    font-size: 14px;
    top: -19px; }
  .reviews-photo {
    height: 130px;
    width: 100px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .certificate {
    height: 130px;
    width: 100px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    padding: 0;
    border: 6px solid #d4b080; }
    .certificate img {
      width: 100%;
      height: 100%; }
  .reviews-txt {
    height: 100px;
    width: 275px;
    padding: 15px 20px 0 30px;
    margin-right: 30px; }
  .team-txt {
    margin-left: 0;
    font-size: 12px; }
  .contact-info, .contact-phone, .contact-email {
    margin-left: 0; }
  .copyright {
    margin-left: 0; } }

@media screen and (max-width: 667px) {
  .modal-content {
    width: 80%;
    text-align: center; }
  .modal-ttl {
    font-size: 19px; }
  .agreement-txt {
    font-size: 14px; }
  .agreement-link {
    font-size: 14px; } }

@media screen and (max-width: 568px) {
  .nav_mobile {
    display: block; }
  .nav {
    display: none; }
  .quote {
    font-size: 14px;
    line-height: 14px; }
  .btn-275 {
    width: 170px;
    padding: 15px 0; }
  header {
    padding: 0;
    padding-top: 70px; }
    header .ttl-block {
      margin-bottom: 30px; }
    header .additions-ttl {
      margin-left: 0;
      font-size: 19px; }
    header .btn-275 {
      display: none; }
    header .btn-mobile {
      display: block;
      margin: auto;
      margin-top: 40px;
      font-size: 13px; }
  .section1 {
    background: url(../img/320/bg-header.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% top; }
  .section2 .hr-85 {
    display: none; }
  .section2 .ttl-block {
    margin: 40px 0; }
  .clientsSlider {
    margin-bottom: 45px; }
  .clients-prev {
    bottom: -30px;
    right: inherit;
    left: 25%; }
  .clients-next {
    bottom: -30px;
    right: 25%; }
  .clients {
    padding-bottom: 0; }
  .clients-box1, .clients-box2, .clients-box3 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .clients-item {
    width: 45%;
    margin-bottom: 20px; }
  .clients-img {
    height: 20px; }
  .name-clients {
    margin-left: 10px;
    font-size: 19px; }
  .works-img {
    height: auto; }
  .name-works {
    font-size: 13px;
    position: relative; }
    .name-works:after {
      position: absolute;
      left: 50%;
      bottom: -20px;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
  .works-overlay {
    padding-top: 220px; }
  .section3 .ttl-block {
    margin-bottom: 10px; }
  .section3 .btn-panel {
    display: none; }
  .section3 .hr-165 {
    display: none; }
  .section3 .quote {
    margin-left: 0;
    margin-bottom: 20px; }
  .section3 .btn-mobile {
    display: block;
    margin: auto;
    font-size: 13px; }
  .worksSlider {
    margin-bottom: 65px; }
  .works-prev {
    bottom: -45px;
    right: inherit;
    left: 25%; }
  .works-next {
    bottom: -45px;
    right: 25%; }
  .section3 {
    padding-top: 45px;
    padding-bottom: 20px; }
  .section4 {
    background: url(../img/320/bg-we.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%; }
    .section4 .ttl-block {
      margin-left: 0;
      margin-bottom: 10px; }
    .section4 .quote {
      margin-left: 0;
      margin-bottom: 0; }
  .we-txt {
    font-size: 14px;
    line-height: 18px; }
  .we {
    padding-top: 30px; }
  .agency-this {
    font-size: 18px; }
  .agency-info {
    font-size: 16px; }
  .advantages1-flex {
    display: block; }
  .advantages1-box1 .mb {
    margin-bottom: 30px; }
  .advantages1-item {
    margin-right: 0;
    margin-bottom: 30px; }
  .advantages1-txt {
    font-size: 14px; }
  .advantages1-ttl {
    font-size: 19px; }
  .section5 .ttl-block {
    margin-top: 20px; }
    .section5 .ttl-block br {
      display: none; }
  .advantages2-flex {
    display: block; }
  .advantages2-item {
    margin-right: 0;
    text-align: center;
    margin-bottom: 40px; }
    .advantages2-item .hr-75 {
      margin: auto; }
  .advantages2-name {
    font-size: 21px;
    padding: 0; }
  .additions-advantages2 {
    font-size: 19px; }
  .adv2-txt {
    font-size: 16px; }
    .adv2-txt br {
      display: none; }
  .section5 {
    padding-top: 40px;
    background: url(../img/320/bg-advantages1.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%; }
  .section6 {
    padding-top: 65px;
    background: url(../img/320/bg-advantages2.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%; }
  .section7 {
    display: none !important; }
  .section9 .quote {
    margin-left: 0; }
    .section9 .quote br {
      display: none; }
  .section9 .ttl-block {
    margin-bottom: 35px; }
  .price-flex {
    display: block; }
  .price-item {
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    padding: 200px 0 35px 0; }
    .price-item .btn-210 {
      width: 210px;
      font-size: 21px; }
    .price-item .hr-75 {
      width: 155px;
      margin-left: 40px; }
    .price-item:nth-child(2) {
      width: 95%;
      margin: auto;
      margin-bottom: 25px;
      padding: 200px 0 35px 0; }
  .name-pack {
    font-size: 49px;
    line-height: 45px;
    top: 35px; }
  .name-site {
    font-size: 21px;
    display: inline-block; }
  .data-price {
    font-size: 16px; }
  .sum {
    font-size: 21px; }
  .included {
    width: 85%;
    margin: auto; }
  .included-ttl {
    font-size: 19px;
    line-height: 20px; }
  .included-item {
    font-size: 16px;
    padding-left: 25px;
    line-height: 20px; }
    .included-item:before {
      width: 8px;
      height: 8px; }
  .quote-name {
    margin-top: 10px; }
  .section10 {
    background: #e4e5dc; }
    .section10 .additons-ttl {
      font-size: 19px;
      margin-bottom: 45px; }
    .section10 .quote br {
      display: none; }
  .fav {
    display: inline-block;
    float: inherit; }
  .structure-team {
    border: none;
    width: 100%;
    padding: 0; }
  .team-flex {
    display: block; }
  .team-list {
    margin-bottom: 20px; }
  .team-item {
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 15px; }
    .team-item:before {
      top: 5px;
      left: 0; }
  .manager {
    font-size: 29px;
    position: inherit;
    left: inherit;
    top: inherit;
    background: transparent;
    margin-bottom: 20px; }
  .team-txt {
    font-size: 14px;
    line-height: 16px; }
    .team-txt br {
      display: none; }
  .section11 {
    padding-bottom: 85px;
    background: #e4e5dc; }
    .section11 .ttl-block {
      margin-bottom: 25px; }
    .section11 .btn-panel {
      display: none; }
  .reviews-slide {
    display: block; }
  .reviews-txt {
    height: 210px;
    width: 100%; }
    .reviews-txt .hr-75 {
      margin-left: 150px; }
    .reviews-txt .txt {
      font-size: 16px; }
  .reviews-name {
    margin-left: 160px;
    font-size: 19px; }
  .reviews-photo {
    position: relative;
    width: 115px;
    height: 145px;
    margin-left: 25px;
    margin-bottom: -50px; }
    .reviews-photo img {
      height: 100%;
      width: 100%; }
  .certificate {
    height: 315px;
    width: 215px;
    margin: auto;
    margin-top: 40px; }
  .reviews-next {
    bottom: -60px;
    right: 25%; }
  .reviews-prev {
    bottom: -60px;
    left: 25%; }
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .credit-item {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    text-align: center;
    margin-bottom: 60px; }
    .credit-item .hr-75 {
      display: none; }
    .credit-item .btn-275 {
      width: 170px;
      font-size: 13px;
      margin: auto;
      margin-bottom: 60px; }
    .credit-item .top-offers {
      width: 100%;
      display: block;
      background: transparent;
      padding: 0;
      text-align: center; }
      .credit-item .top-offers .btn-210 {
        width: 170px;
        font-size: 13px;
        margin: auto;
        padding: 15px 0; }
  .contact-item {
    width: 100%;
    margin-bottom: 90px; }
  .bank {
    height: 175px; }
  .credit-ttl {
    margin-bottom: 30px; }
  .credit-txt {
    font-size: 14px;
    text-align: left;
    margin-bottom: 25px; }
  .info-box {
    display: none; }
  .ttl-top-offers {
    font-size: 31px;
    font-weight: 900; }
  .top-offers-txt {
    font-size: 19px; }
  .section12 .ttl-block {
    margin-bottom: 50px; }
  footer {
    background: #d4b080;
    padding: 15px 0; }
  .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .company {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 15px; }
  .platforms-flex {
    display: none; }
  .platforms1,
  .platforms2 {
    width: 100%;
    height: auto; }
  .platforms1 {
    margin-bottom: 70px; }
  .platforms2 {
    margin-bottom: 100px; }
  .platformsSlider1,
  .platformsSlider2 {
    height: auto; }
  .platforms1-next {
    width: 100px;
    height: 30px;
    bottom: -40px;
    right: 25%; }
  .platforms1-prev {
    width: 100px;
    height: 30px;
    bottom: -40px;
    left: 25%; }
  .platforms2-next {
    width: 100px;
    height: 30px;
    bottom: -40px;
    right: 25%; }
  .platforms2-prev {
    width: 100px;
    height: 30px;
    bottom: -40px;
    left: 25%; }
  .platforms_mobile {
    display: block; }
  .section12 {
    background: url(../img/320/bg-footer.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%; } }

@media screen and (max-width: 480px) {
  .modal-content {
    width: 95%; }
  .clients-prev {
    bottom: -30px;
    right: inherit;
    left: 10%; }
  .clients-next {
    bottom: -30px;
    right: 10%; }
  .works-next {
    bottom: -45px;
    right: 10%; }
  .works-prev {
    bottom: -45px;
    left: 10%; }
  .reviews-next {
    right: 10%; }
  .reviews-prev {
    left: 10%; }
  .platforms1-next {
    width: 100px;
    height: 30px;
    bottom: -40px;
    right: 10%; }
  .platforms1-prev {
    width: 100px;
    height: 30px;
    bottom: -40px;
    left: 10%; }
  .platforms2-next {
    width: 100px;
    height: 30px;
    bottom: -40px;
    right: 10%; }
  .platforms2-prev {
    width: 100px;
    height: 30px;
    bottom: -40px;
    left: 10%; }
  .works-overlay {
    padding-top: 185px; } }

@media screen and (max-width: 414px) {
  .works-overlay {
    padding-top: 130px; } }

@media screen and (max-width: 375px) {
  .clients-item {
    width: 50%; }
  .name-clients {
    margin-left: 0px;
    font-size: 16px; } }
