@media screen and (max-width: 1200px) {
  .team-item {
    margin-bottom: 10px; } }

@media screen and (max-width: 992px) {
  body {
    font-size: 10px; }
  form {
    width: 60%; }
  .call-us {
    display: none; }
  .menu-item {
    margin-right: 30px; }
  header .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .logo {
    margin-bottom: 15px; }
  .advantages-item {
    width: 50%;
    margin-bottom: 40px; }
  .desc {
    font-size: 1.2em;
    line-height: 30px; } }

@media screen and (max-width: 768px) {
  header .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .menu {
    display: none; }
  .button-menu {
    display: block; }
  body {
    font-size: 9px; }
  form {
    width: 60%; }
  .btn {
    padding: 0 60px; }
  .advantages-item {
    width: 100%;
    margin-bottom: 30px; }
  .services-img {
    display: block;
    vertical-align: none;
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 15px; }
  .services-block {
    text-align: center; }
  .description-s {
    font-size: 1.4em; } }

@media screen and (max-width: 667px) {
  .btn {
    padding: 0 50px; }
  form {
    width: 75%; } }

@media screen and (max-width: 480px) {
  body {
    font-size: 8px; }
  .btn {
    padding: 0 40px; }
  form {
    width: 95%; }
  .email {
    padding: 0px 130px 0 30px; } }
