body {
  font-family: "GothicRegular";
  font-size: 16px;
  background: #f6f6f6;
  color: #424146; }

* {
  padding: 0;
  margin: 0;
  outline: none; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

a {
  color: #f2f2f2;
  text-decoration: none;
  -webkit-transition: ease-out .35s;
  -o-transition: ease-out .35s;
  transition: ease-out .35s; }

.btn {
  display: block;
  width: 190px;
  height: 40px;
  background: #000;
  border-bottom: 3px solid #ffea00;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.3rem;
  line-height: 40px; }
  .btn:hover {
    opacity: 0.7; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.center {
  text-align: center;
  padding-top: 300px;
  height: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(left), color-stop(#990000), color-stop(#CC3399), to(#CC66FF));
  background: -webkit-linear-gradient(left, #990000, #CC3399, #CC66FF);
  background: -o-linear-gradient(left, #990000, #CC3399, #CC66FF);
  background: linear-gradient(left, #990000, #CC3399, #CC66FF); }
  .center h4 {
    font-size: 7rem;
    color: gold; }
  .center h3 {
    font-size: 3rem;
    color: #fff; }

.active {
  background: #ffea00; }

.responsive {
  display: none; }
  .responsive ul li {
    display: block;
    text-align: center;
    margin-bottom: 10px; }
    .responsive ul li:last-child {
      margin-bottom: 0; }
    .responsive ul li a {
      color: #424146;
      display: block;
      font-size: 2em; }

.btn_menu {
  cursor: pointer;
  text-align: center;
  margin: 10px 0;
  display: none; }
  .btn_menu .fa {
    color: #ffea00;
    font-size: 3em; }

/*----HEADER----*/
.top_line {
  padding: 10px 0; }

.logo_img {
  display: block;
  height: 116px;
  width: 116px;
  background: url(../img/logo.png) center center;
  -webkit-background-size: cover;
          background-size: cover;
  margin-left: 60px; }

.top_menu {
  text-align: right; }
  .top_menu ul {
    line-height: 120px;
    margin-right: 60px; }
    .top_menu ul li {
      display: inline-block;
      margin-right: 30px; }
      .top_menu ul li:last-child {
        margin-right: 0; }
      .top_menu ul li a {
        color: #000;
        text-decoration: none;
        font-family: "Muli-Light";
        text-transform: uppercase;
        height: 70px;
        width: 90px;
        display: block;
        text-align: center;
        line-height: 70px; }
        .top_menu ul li a:hover {
          background: #ffea00; }

/*----HEADER END----*/
/*----TITLE----*/
.title_contact {
  background: url(../img/contact_img/bg_title.png);
  -webkit-background-size: cover;
          background-size: cover;
  padding: 40px 0;
  margin-bottom: 80px; }

.title_txt {
  display: inline-block;
  padding: 10px 120px 10px 15px;
  background: #414146;
  color: #ffea00; }
  .title_txt h1 {
    font-size: 2.18rem; }

/*----NEWS BLOCK----*/
.wrapper {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.flex_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 70%; }

.left_content, .right_content {
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px; }

.sidebar_right {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.item_news {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer; }
  .item_news:hover .text_news {
    background-color: #ffea00; }
  .item_news:hover .text_news::before {
    border-color: transparent transparent #ffea00 transparent; }

.img_news {
  background-color: #ffea00; }

.text_news {
  padding: 25px;
  background-color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative; }
  .text_news::before {
    content: "";
    position: absolute;
    right: 40px;
    top: -40px;
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.quote {
  padding: 10px 40px;
  background-color: #ffea00;
  margin-bottom: 30px;
  font-size: 0.83rem; }

.title_news {
  margin-bottom: 25px;
  color: #000;
  font-size: 1.438rem; }

.content_news {
  margin-bottom: 25px;
  color: #5e5e5e;
  font-family: "Muli-Light";
  font-weight: bold;
  font-size: 0.875rem; }

.like {
  float: left;
  color: #5e5e5e;
  font-size: 0.75rem; }
  .like::before {
    content: "\f004";
    font-family: "FontAwesome";
    color: #5e5e5e;
    margin-right: 7px; }

.info {
  float: right;
  color: #000;
  font-size: 0.75rem; }

.navigation_news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 65px; }
  .navigation_news a {
    color: #424146;
    font-weight: bold;
    font-size: 1.25rem; }

.number_item a {
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px; }
  .number_item a:hover {
    background: #ffea00; }

.number_item span {
  display: inline-block;
  height: 45px;
  width: 65px;
  text-align: center; }

/*----SIDEBAR BLOCK----*/
.block_search {
  background-color: #414146;
  margin-bottom: 35px;
  padding: 20px; }

input.is {
  border: none;
  background: url(../img/blog_img/search.png) no-repeat;
  background-position: 90%, 10%;
  background-color: #fff;
  margin: 0 auto;
  display: block;
  width: 70%;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 7px 55px 7px 23px; }

.categories, .archive, .post, .tags {
  background-color: #414146;
  margin-bottom: 35px;
  color: #ffea00;
  padding: 35px; }

.categories_item ul li, .archive_item ul li {
  padding-left: 45px;
  height: 31px;
  background: url(../img/blog_img/arrow.png) no-repeat;
  margin-bottom: 15px;
  line-height: 31px; }
  .categories_item ul li:last-child, .archive_item ul li:last-child {
    margin-bottom: 0; }
  .categories_item ul li a:hover, .archive_item ul li a:hover {
    color: #ffea00; }

h3.title {
  margin-bottom: 35px;
  text-transform: uppercase; }

.float {
  float: left; }

.item_one {
  margin-right: 30px; }

.item_post {
  margin-bottom: 35px; }

.img_post {
  float: left;
  margin-right: 10px; }

.like_post, .data_post {
  float: right;
  color: #ffea00; }

.like_post {
  margin-left: 10px; }
  .like_post::before {
    content: "\f004";
    font-family: "FontAwesome";
    color: #ffea00; }

.title_post:hover {
  color: #ffea00; }

.item_tags {
  display: inline-block;
  background: #ffea00;
  color: #424146;
  padding: 7px 10px;
  margin-bottom: 3px; }
  .item_tags:hover {
    color: #ffea00;
    background: #fff; }

/*----MODAL----*/
.remodal h1 {
  margin-bottom: 20px; }

/*----FOOTER----*/
footer {
  padding: 40px 0 0 0; }
  footer h4 {
    color: #fff;
    font-size: 1.12rem;
    margin-bottom: 25px; }
  footer p {
    color: #fff;
    font-size: 13px;
    font-family: "Muli-Light";
    font-weight: bold; }

.big_footer {
  background: #414146; }

.about_us {
  margin-bottom: 45px; }
  .about_us .button {
    margin-top: 25px; }
    .about_us .button .btn {
      float: none;
      margin-right: 0;
      width: 150px; }

.tweets ul {
  color: #fff;
  font-size: 13px;
  font-family: "Muli-Light";
  font-weight: bold; }
  .tweets ul li {
    text-align: left;
    position: relative;
    margin-bottom: 23px; }
    .tweets ul li::before {
      content: "\f099";
      font-family: "FontAwesome";
      color: #fff;
      position: absolute;
      left: -30px;
      top: 5px;
      font-size: 25px; }
  .tweets ul li.war::before {
    content: "\f099";
    font-family: "FontAwesome";
    color: #fff;
    position: absolute;
    left: -30px;
    top: 0;
    font-size: 25px; }

.tweets span {
  color: #ffea00; }

.tweets span.day {
  color: #ffea00;
  font-size: 0.5rem; }

.social h4 {
  display: inline-block; }

.social .social_link {
  display: inline-block;
  vertical-align: middle; }

.contact_info {
  margin-bottom: 40px; }
  .contact_info span {
    color: #fff; }
  .contact_info a {
    color: #fff; }
  .contact_info span.email a {
    color: #ffea00;
    font-family: "Muli-Light";
    font-weight: bold; }

.wrapper_content_address::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../img/Adress.png);
  margin-right: 10px;
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px); }

.wrapper_content_email::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../img/email.png);
  margin-right: 10px;
  -webkit-transform: translate(0, 10px);
      -ms-transform: translate(0, 10px);
          transform: translate(0, 10px); }

.wrapper_content_phone::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(../img/Phone.png);
  margin-right: 10px;
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px); }

span.phone {
  display: inline-block;
  text-align: right;
  margin-bottom: 30px;
  font-size: 0.8rem; }

span.email {
  display: inline-block;
  font-size: 0.8rem; }

span.address {
  display: inline-block;
  text-align: left;
  margin-bottom: 30px;
  font-size: 0.8rem; }

.follow p {
  margin-bottom: 20px; }

.email_form {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffea00;
  outline: none;
  color: #fff;
  width: 55%; }

.button_form {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #fff;
  border: none; }

/*----SMALL FOOTER*----*/
.small_footer {
  background: #000;
  color: #fff;
  padding: 20px 0; }

.footer_menu {
  text-align: center; }
  .footer_menu ul li {
    display: inline-block;
    margin-right: 40px; }
    .footer_menu ul li:last-child {
      margin-right: 0; }
