$bg:#f6f6f6;
$gray:#414146;
$yellow:#ffea00;
$color:#424146;


$light:"Muli-Light";
$regular:"GothicRegular";

body{
	font-family: $regular;
	font-size: 16px;
	background:$bg;
	color:$color;
}

*{
	padding:0;
	margin:0;
	outline:none;
}

img{
	max-width:100%;
	
}

.center_content{
	text-align:center;
}

ul{
	list-style:none;
}

a{
	color:#f2f2f2;
	text-decoration:none;
	transition:ease-out .35s;
}

.btn{
	display:block;
	width:190px;
	height:40px;
	background: #000;
	border-bottom:3px solid $yellow;
	text-align:center;
	box-sizing:border-box;
	font-size: 1.3rem;
	line-height:40px;
		&:hover{
			opacity:0.7;
		}
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;

}


.active{
	background:$yellow;
}

/*----HEADER----*/



.top_line{
	
	padding:10px 0;
}

.logo_img{
	display:block;
	height:116px;
	width:116px;
	background:url(../img/logo.png) center center;
	background-size:cover;
	margin-left:60px;
}

.top_menu{
	text-align:right;

	ul{
		line-height:120px;
		margin-right:60px;
		li{
			display:inline-block;
			margin-right:30px;
			&:last-child{
				margin-right:0;
			}

			a{
				color:#000;
				text-decoration:none;
				font-family: $light;
				text-transform:uppercase;
				height:70px;
				width:90px;
				display:block;
				text-align:center;
				line-height:70px;
				&:hover{
					background:$yellow;
				}
			}
		}
	}
}

/*----HEADER END----*/

/*----TITLE----*/
.title_portfolio{
	background: url(../img/contact_img/bg_title.png);
	background-size:cover;
	padding:40px 0;
	margin-bottom:80px;
}

.title_txt{
	display:inline-block;
	padding:10px 120px 10px 15px;
	background: $gray;
	color:$yellow;
	h1{
		
		font-size: 2.18rem;
	}
	
}




/*----HEADER PORTFOLIO----*/

.title_header{
	text-align:center;
	margin-bottom:60px;
	h2{
		font-size: 2.188rem;
	}

	p{
		font-size: 1.5rem;
	}
}

.portfolio_menu{
	margin-bottom:55px;
	ul{
		li{
			display:inline-block;
			margin-right:25px;
			&:last-child{
				margin-right:0;
			}

			a{
				color:$color;
				display:block;
				font-size: 1.5rem;
				&:hover{
					padding:10px;
					background:$yellow;
				}
			}
		}
	}
}

.portfolio{
	margin-bottom:60px;
}

.portfolio_item{
	overflow:hidden;
	margin-bottom:60px;
	position:relative;
	transition: .5s;
	display:inline-block;
	&::before{
		content:" ";
		position:absolute;
		width:100%;
		height:99%;
		background-color: rgba(255, 234, 0, 0.5);
		display:none;
		
	}

	&:hover::before{
		display:block;
		
	}

	&:hover .arrow{
		opacity:1;
	}
	
}

.arrow{
	position:absolute;
	height:150px;
	width:150px;
	background-color: rgba(66, 65, 70, 0.8);
	left:50%;
	top:50%;
	margin-top:-75px;
	margin-left:-75px;
	text-align:center;
	line-height:175px;
	opacity:0;
	transition:opacity .55s;
	transition:transform 1.45s;
	&:hover{
		transform:scale(1.5);
		
	}
	
	a{
		display:block;
	}
}



/*----FOOTER----*/
footer{
	padding:40px 0 0 0;
	h4{
		color:#fff;
		font-size: 1.12rem;
		margin-bottom:25px;
	}

	p{
		color:#fff;
		font-size: 13px;
		font-family: $light;
		font-weight:bold;
	}
}
.big_footer{
	background: $gray;
}
.about_us{
	margin-bottom:45px;
	


	.button{
		margin-top:25px;
		.btn{
			float:none;
			margin-right:0;
			width:150px;
		}
	}
}



.tweets{
	ul{
		color:#fff;
		font-size: 13px;
		font-family: $light;
		font-weight:bold;
		li{
			text-align:left;
			position:relative;
			margin-bottom:23px;

			&::before{
				content:"\f099";
				font-family:"FontAwesome";
				color:#fff;
				position:absolute;
				left:-30px;
				top:5px;
				font-size: 25px;
				
			}
		}
		li.war{
				&::before{
				content:"\f099";
				font-family:"FontAwesome";
				color:#fff;
				position:absolute;
				left:-30px;
				top:0;
				font-size: 25px;
				
			}
		}
	}

	span{
		color:$yellow;
	}

	span.day{
		color:$yellow;
		font-size: 0.5rem;
	}
}

.social{
	h4{
		display:inline-block;
	}

	.social_link{
		display:inline-block;
		vertical-align:middle;
	}
}


.contact_info{
	margin-bottom:40px;
	span{
		color:#fff;
	}
	a{
		color:#fff;

	}

	span.email a{
		color:$yellow;
		font-family:$light;
		font-weight:bold;
	}
}

.wrapper_content_address{
	&::before{
		content:"";
		display:inline-block;
		height:30px;
		width:30px;
		background:url(../img/Adress.png);
		margin-right:10px;
        transform:translate(0, -5px);
	}
}

.wrapper_content_email{
	&::before{
		content:"";
		display:inline-block;
		height:30px;
		width:30px;
		background:url(../img/email.png);
		margin-right:10px;
		transform:translate(0, 10px);
	}
}

.wrapper_content_phone{
	&::before{
		content:"";
		display:inline-block;
		height:30px;
		width:30px;
		background:url(../img/Phone.png);
		margin-right:10px;
		transform:translate(0, -5px);
	}
}

span.phone, {
	display:inline-block;
	text-align:right;
	margin-bottom:30px;
	font-size: 0.8rem;
	}


span.email, {
	display:inline-block;
	font-size: 0.8rem;
	}


span.address{
	display:inline-block;
	text-align:left;
	margin-bottom:30px;
	font-size: 0.8rem;
}

.follow{
	p{
		margin-bottom:20px;
	}
}
.email_form{
	background:transparent;
	border:none;
	border-bottom:2px solid $yellow;
	outline:none;
	color:#fff;
	width:55%;
}

.button_form{
	display:inline-block;
	width:28px;
	height:28px;
	background: #fff;
	border:none;

}

/*----SMALL FOOTER*----*/

.small_footer{
	background: #000;
	color:#fff;
	padding:20px 0;
}

.footer_menu{
	text-align:center;
	ul{
		li{
			display:inline-block;
			margin-right:40px;
			&:last-child{
				margin-right:0;
			}
		}
	}
}