*{
	margin:0px;
	padding:0px;
}

ul{
	list-style: none;
}

a{
	text-decoration:none;
}

body{
	font-family:"RobotoLight";
	background-color:#bbb;
}

@font-face {
	font-family: "RobotoLight" ;
	src:url(fonts/RobotoLight/RobotoLight.ttf);
}

#wrapper{
	width:1920px;
	background-color:#DEDEDE;
	margin:0px auto;
	position: relative;
	
}



.left-section{
	width:300px;
	height:1250px;
	z-index: 2;
	background-color:#242B2E;
	box-shadow:7px 1px 4px 0px rgba(32, 50, 50, 0.51);
	float: left;
	position: absolute;

}


.logo{
	height:93px;
	background-color:white;
	padding: 32px 60px 0px 52px;
}


/*MENU BEGIN*/
.navigation a{
	color:white;

}

.navigation  li {
	padding:25px 25px 25px 0px;
	background-color:#31393D;
	margin-bottom:2px;
	text-align:right;
	transition:0.8s;
}

.navigation  li:hover {
	background-color: #2EB9B7;

}	

/*MENU END*/

.filter {
	margin:25px 23px 33px 209px;
}


.filter-menu li {
	font-size:13px;
	text-align:right;
	padding-right: 29px;
	margin-bottom: 15px;
}

.filter-menu a{
	color:#616669;
}

.filter-menu a:hover{
	color:white;
}


.social-img{
	height:24px;
	margin:0px 23px 25px 35px;

}

.social-img img{
	margin-left: 5px;
}


.copy{
	color:#616669;
	font-size:12px;
	margin:0px 20px 0px 70px;
}


/**ABOUT BEGIN**/
.container {
	height: 990px;
	width:1510px;
	background-color:white;
	position:absolute;
	margin:16px;
	padding:25px;
	left:316px;
}


.left{
	border-right: 1px solid #DEDEDE;
	width:735px;
	display: inline-block;
	padding-right:15px;
	
}

.top-info{
	width:720px;
	border-bottom:1px solid #DEDEDE;
	margin-bottom:10px;
	padding-bottom:10px;
}

.right{
	vertical-align:top;
	width:700px;
	display: inline-block;
	padding:10px;
}

.left, .right, h4{
	margin-bottom:20px;
}
.item-img{
	display:inline-block;
	margin-right:10px;
	margin-bottom:10px;
	position:relative;
	color:#fff;
}

.item-img::before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background-color:#1ab5b3;
	display:none;
}

.text-item{
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-25px;
	margin-left:-50px;
	text-align:center;
	display:none;
}

.item-img:hover::before{
	display:block;
}
.item-img:hover .text-item{
	display:block;
}
.title{
	width:720px;
	display:flex;
	justify-content: space-between;
	
}

.pro{
	color:#000;
	font-weight:bold;
}
.item-cent{
	width:720px;
	height:30px;
	border:2px solid #f2f2f2;
	margin-bottom:20px;

}
span.one{
	display:block;
	height:100%;
	width:89%;
	background:gray;
}

span.two{
	display:block;
	height:100%;
	width:65%;
	background:gray;
}
span.three{
	display:block;
	height:100%;
	width:70%;
	background:gray;
}
span.four{
	display:block;
	height:100%;
	width:40%;
	background:gray;
}

.list-test{
	background-color:#1ab5b3;
	width: 720px;
	height: 80px;
}

.list-test span{
	display: inline-block;
	vertical-align: middle;
	color:#fff;
}

.list-test img{
	display: inline-block;
	vertical-align: middle;
	margin-right:15px;
}

.list-text{
	padding:20px;
	width:720px;
	box-sizing:border-box;
	border-left:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
	border-bottom:1px solid #f2f2f2;
}

.services ul li{
	list-style-type:disc;
	list-style-position:inside;
}
	
/**ABOUT END**/

