body {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #a6afbb; }

.padding {
  padding: 0; }

.padding-left {
  padding-left: 0; }

.padding-right {
  padding-right: 0; }

a {
  outline: none;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none;
  color: #fff; }

h1, h2, h3, h4, h5, h6, .button {
  font-family: "OpenSans-ExtraBold";
  text-transform: uppercase;
  font-weight: normal;
  color: #556b72;
  margin: 0;
  padding: 0;
  font-size: 14px; }

.button {
  display: inline-block;
  letter-spacing: 1.5px;
  font-size: 13.5px;
  padding: 18px 66px;
  background-color: #ff8261;
  color: #fff; }

.button:hover {
  color: #fff;
  opacity: .8; }

.hr {
  background-color: #ff8261;
  height: 2px;
  width: 21px;
  margin-bottom: 10px; }

.text {
  margin-bottom: 30px; }
  .text .fa {
    color: #ff8261;
    font-size: 22px;
    padding-bottom: 10px; }
  .text h5 {
    font-size: 19px;
    color: #9baeb4;
    font-family: "OpenSans-Regular"; }
  .text h4 {
    font-size: 30px;
    margin-top: -10px; }

.fix {
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.9; }

/***HEADER***/
.top-panel {
  padding-top: 25px; }

.wrapper-logo {
  padding-left: 30px;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px); }

.wrapper-form {
  padding-right: 30px; }

.form {
  color: #484e57;
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #dde2e8;
  padding: 13px 0;
  text-align: right; }
  .form p {
    display: inline-block;
    margin: 0; }
  .form span {
    color: #9ba4b0; }
  .form input {
    border: none;
    width: 147px;
    margin-right: 17px; }
  .form .register {
    border-left: 1px solid #9ba4b0;
    padding-left: 15px;
    margin-right: 17px;
    color: #9ba4b0; }
  .form .login {
    border-left: 1px solid #9ba4b0;
    padding-left: 19px;
    margin-right: 7px;
    color: #9ba4b0; }
  .form a:hover {
    color: #484e57; }

/***MENU***/
.primary-menu {
  text-align: left;
  padding-top: 15px; }
  .primary-menu .button-menu {
    display: none; }
    .primary-menu .button-menu::before {
      content: "\f0c9";
      font-family: "FontAwesome";
      padding-right: 5px; }
  .primary-menu ul {
    margin: 0;
    padding: 0;
    font-size: 0; }
  .primary-menu .container {
    padding: 0; }
  .primary-menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
  .primary-menu a {
    display: block;
    background-color: #ff8261;
    color: #fff;
    text-transform: uppercase;
    padding: 23px 27.4px;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    text-align: center;
    font-size: 13px; }
  .primary-menu a:hover {
    background-color: #52cbf8;
    text-decoration: none; }
  .primary-menu .active {
    color: #fff;
    background-color: #52cbf8; }

/*------MENU END----*/
/*------BLOG POST ----*/
.wrapper-blog {
  background: url(../img/Image-here.png);
  background-position: center center;
  padding: 100px 0; }

.left-text {
  padding-left: 15px; }
  .left-text h4 {
    font-size: 40px;
    color: #fff; }
  .left-text h5 {
    font-family: "OpenSans-Light";
    font-size: 20px;
    color: #fff;
    margin-top: -10px; }

/*------BLOG POST   END----*/
/*--------HEADER END--------*/
/*--------CONTENT---------*/
/*-----BLOG-------*/
.blog {
  padding: 60px 0 90px 0; }

.blog-img {
  height: 382px;
  margin-bottom: 45px; }
  .blog-img img {
    width: 100%;
    height: 100%; }

.blog-posted {
  margin-bottom: 70px; }
  .blog-posted h5 {
    margin-bottom: 10px; }
  .blog-posted span.name {
    margin-right: 10px; }
  .blog-posted span.date {
    margin-left: 10px; }
  .blog-posted p {
    margin: 0; }

.info {
  margin-bottom: 10px; }

.wrapper-link {
  border-top: 2px solid #dde2e8;
  border-bottom: 2px solid #dde2e8;
  margin-bottom: 80px; }

.link-block .comments, .link-block .like {
  border-right: 2px solid #dde2e8;
  margin-right: 15px;
  height: 100%;
  display: inline-block;
  padding: 7px 15px 7px 0; }

.link-block .share {
  height: 100%; }

.link-block .img-link {
  font-size: 12px;
  display: inline-block;
  height: 25px;
  width: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ff8261;
  text-align: center;
  padding-top: 3px;
  margin-right: 5px;
  color: #fff; }

.link-block .social {
  display: inline-block;
  margin: 0;
  margin-left: 10px; }
  .link-block .social a {
    margin-right: 10px; }
  .link-block .social .fa {
    font-size: 13px; }

.like a {
  color: #9ba4b0; }
  .like a:hover {
    color: #9ba4b0; }

.number-list {
  text-align: right; }
  .number-list span {
    vertical-align: middle;
    font-family: "OpenSans-ExtraBold";
    color: #656d78; }
  .number-list a {
    display: inline-block;
    width: 31px;
    height: 31px;
    text-align: center;
    border: 1px solid #dde2e8;
    color: #656d78;
    margin-top: 4px;
    padding-top: 3px;
    font-weight: 700;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease; }
    .number-list a:hover {
      background-color: #ff8261;
      color: #fff;
      border-color: transparent; }

.person {
  background-color: #e7f4f8;
  padding: 30px; }
  .person h5 {
    font-size: 14px; }
  .person p {
    font-size: 13.5px; }

.avatar {
  display: inline-block;
  height: 130px;
  width: 130px;
  background-color: #ff8261;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.description {
  padding-top: 15px; }

/*-----BLOG END-------*/
/*-----COMMENTS-------*/
.wrapper-posters {
  border-bottom: 2px solid #dde2e8;
  padding-top: 25px;
  padding-bottom: 25px; }
  .wrapper-posters:last-child {
    border: none; }

.posters h5, .posters h6 {
  display: inline-block; }

.posters h6 {
  color: #9ba4b0;
  font-family: "OpenSans-Regular";
  font-size: 13.5px;
  text-transform: capitalize; }

.posters p {
  font-size: 13.5px; }

.posters .button {
  padding: 7px 20px;
  font-size: 12.5px;
  float: right;
  margin-top: -23px; }

.posters .avatar {
  height: 120px;
  width: 120px;
  background-color: #939997; }

/*-----COMMENTS END-------*/
/*-----COMMENT-------*/
.comment {
  background-color: #e7f4f8;
  padding: 75px 0 110px 0; }
  .comment .fa {
    padding: 0; }
  .comment h5 {
    margin-bottom: 3px; }
  .comment input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 20px 0 20px 25px;
    text-transform: capitalize;
    border: none; }
  .comment textarea {
    resize: none;
    text-transform: capitalize;
    border: none;
    width: 100%;
    padding: 20px 0 0 25px;
    height: 189px;
    margin-bottom: 20px; }
  .comment .button {
    float: right; }

/*--------FOOTER----------*/
footer {
  background-color: #4c515b;
  padding: 105px 0;
  color: #d1deef; }
  footer h4 {
    color: #fff; }

.footer-logo {
  padding-top: 75px; }
  .footer-logo a {
    margin-bottom: 8px; }
  .footer-logo p {
    margin: 0;
    padding-left: 60px; }

.links {
  float: left; }
  .links h4 {
    color: #fff; }
  .links ul {
    padding: 0;
    list-style: none;
    margin: 0; }
    .links ul li {
      padding-top: 15px; }
      .links ul li a {
        color: #9ba4b0;
        -webkit-transition: ease .5s;
        -o-transition: ease .5s;
        transition: ease .5s; }
        .links ul li a:hover {
          color: #c0ccdd; }

.links-two {
  margin-left: 50px; }

.contact p {
  color: #9ba4b0; }

.contact span {
  color: #e7f4f8; }

.social {
  margin-top: 18px; }
  .social .fa {
    font-size: 24px;
    color: #9ba4b0;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s; }
  .social a {
    margin-right: 22px; }
    .social a:last-child {
      margin-right: 0; }
    .social a.facebook:hover .fa {
      color: #4867AA; }
    .social a.twitter:hover .fa {
      color: #33FFFF; }
    .social a.instagram:hover .fa {
      color: #D72E78; }
    .social a.google:hover .fa {
      color: #EA4335; }
