body {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #556b72; }

.padding {
  padding: 0; }

.padding-left {
  padding-left: 0; }

.padding-right {
  padding-right: 0; }

a {
  outline: none;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none;
  color: #fff; }

h1, h2, h3, h4, h5, h6, .button {
  font-family: "OpenSans-ExtraBold";
  text-transform: uppercase;
  font-weight: normal;
  color: #556b72;
  margin: 0;
  padding: 0; }

.button {
  display: inline-block;
  letter-spacing: 1.5px;
  font-size: 13.5px;
  padding: 18px 66px;
  background-color: #ff8261;
  color: #fff; }

.button:hover {
  color: #fff;
  opacity: .8; }

.hr {
  background-color: #ff8261;
  height: 2px;
  width: 21px;
  margin-bottom: 10px; }

.fix {
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.9; }

/***HEADER***/
.top-panel {
  padding-top: 25px; }

.wrapper-logo {
  padding-left: 30px;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px); }

.wrapper-form {
  padding-right: 30px; }

.form {
  color: #484e57;
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #dde2e8;
  padding: 13px 0;
  text-align: right; }
  .form p {
    display: inline-block;
    margin: 0; }
  .form span {
    color: #9ba4b0; }
  .form input {
    border: none;
    width: 147px;
    margin-right: 17px; }
  .form .register {
    border-left: 1px solid #9ba4b0;
    padding-left: 15px;
    margin-right: 17px;
    color: #9ba4b0; }
  .form .login {
    border-left: 1px solid #9ba4b0;
    padding-left: 19px;
    margin-right: 7px;
    color: #9ba4b0; }
  .form a:hover {
    color: #484e57; }

/***MENU***/
.primary-menu {
  text-align: left;
  padding-top: 15px; }
  .primary-menu .button-menu {
    display: none; }
    .primary-menu .button-menu::before {
      content: "\f0c9";
      font-family: "FontAwesome";
      padding-right: 5px; }
  .primary-menu ul {
    margin: 0;
    padding: 0;
    font-size: 0; }
  .primary-menu .container {
    padding: 0; }
  .primary-menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
  .primary-menu a {
    display: block;
    background-color: #ff8261;
    color: #fff;
    text-transform: uppercase;
    padding: 23px 27.4px;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    text-align: center;
    font-size: 13px; }
  .primary-menu a:hover {
    background-color: #52cbf8;
    text-decoration: none; }
  .primary-menu .active {
    color: #fff;
    background-color: #52cbf8; }

/*------MENU END----*/
/*------SLIDER------*/
.slider {
  background-color: #222836;
  padding-top: 215px;
  padding-bottom: 60px; }
  .slider .container {
    position: relative; }

.bx-wrapper {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

/*------------PAGER---------*/
.bx-pager {
  text-align: center; }
  .bx-pager a {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #ff8261; }
    .bx-pager a:hover {
      display: inline-block;
      width: 13px;
      height: 13px;
      margin: 0 5px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 2px solid green; }
  .bx-pager a.active {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #5278db; }

/*------------PAGER END---------*/
.text-slider {
  text-align: center; }
  .text-slider h6 {
    padding-bottom: 150px;
    font-size: 14px; }
  .text-slider h4 {
    color: #fff;
    font-size: 40px; }
  .text-slider h5 {
    font-size: 20px;
    font-family: "OpenSans-Light";
    color: #fff; }

/*------------NEX\PREV---------*/
.slider-next {
  position: absolute;
  right: 2%;
  top: 15%;
  text-align: center; }
  .slider-next a {
    display: block;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #fff; }
    .slider-next a::before {
      content: "\f105";
      font-family: "FontAwesome";
      color: #fff;
      font-size: 35px;
      padding-left: 5px; }
    .slider-next a:hover {
      opacity: .8; }

.slider-prev {
  position: absolute;
  left: 2%;
  top: 15%;
  text-align: center; }
  .slider-prev a {
    display: block;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #fff; }
    .slider-prev a::before {
      content: "\f104";
      font-family: "FontAwesome";
      color: #fff;
      font-size: 35px;
      padding-right: 5px; }
    .slider-prev a:hover {
      opacity: .8; }

/*------------NEX\PREV END---------*/
/*------SLIDER END------*/
/*--------HEADER END--------*/
/*--------CONTENT---------*/
/*--------SEARCH----------*/
.search {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #e7f4f8; }

.text .fa {
  color: #ff8261;
  font-size: 22px;
  padding-bottom: 10px; }

.text h5 {
  font-size: 19px;
  color: #9baeb4;
  font-family: "OpenSans-Regular"; }

.text h4 {
  font-size: 30px;
  margin-top: -8px; }

.form-group {
  padding-top: 35px; }
  .form-group input.name {
    width: 422px;
    height: 50px;
    border: 1px solid #dfeef3;
    padding: 0 10px 0 25px; }
  .form-group input.year {
    width: 160px;
    height: 50px;
    border: 1px solid #dfeef3;
    padding: 0 5px 0 10px; }
  .form-group input.com {
    width: 160px;
    height: 50px;
    border: 1px solid #dfeef3;
    padding: 0 5px 0 10px; }

.button-search {
  padding-top: 35px; }
  .button-search .button {
    padding: 15px 50px; }

/*--------SEARCH END----------*/
/*--------NEWS----------*/
.news {
  padding-top: 70px; }
  .news .text {
    padding-bottom: 35px; }

.item-news {
  padding-bottom: 65px; }
  .item-news .fa {
    display: inline-block;
    font-size: 65px;
    color: #ff8261; }
  .item-news .text-news {
    float: right;
    width: 270px; }
    .item-news .text-news h4 {
      font-size: 16px; }
    .item-news .text-news p {
      font-size: 13.5px;
      color: #9ba4b0; }

/*--------NEWS END----------*/
/*--------DISCOUNT----------*/
.discount {
  background-color: #fffbde;
  padding-top: 80px;
  padding-bottom: 120px; }
  .discount .text {
    padding-bottom: 30px; }
    .discount .text h5 {
      color: #4c515b; }
    .discount .text h4 {
      color: #4c515b; }

.button-wrapper {
  padding-top: 169px; }
  .button-wrapper .button {
    padding: 20px 50px; }

.column-two ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: inline-block; }
  .column-two ul:nth-child(3) {
    margin-left: 40px; }

.column-two li {
  letter-spacing: .4px;
  padding-bottom: 15px; }
  .column-two li:last-child {
    padding-bottom: 0; }
  .column-two li::before {
    content: "\f105";
    font-family: "FontAwesome";
    padding-right: 20px;
    font-weight: 700; }

.column-one .wrapper-banners {
  background-color: #fff;
  padding: 10px; }
  .column-one .wrapper-banners .banners {
    border: 3px solid  #fffbde;
    padding: 15px 15px 10px 15px; }
    .column-one .wrapper-banners .banners h5 {
      font-size: 14px;
      color: #b3b1a1;
      margin-bottom: -15px; }
    .column-one .wrapper-banners .banners h4 {
      display: inline-block;
      color: #ff8261;
      font-size: 48px;
      margin-right: 15px; }
      .column-one .wrapper-banners .banners h4:nth-child(3) {
        color: #52cbf8;
        font-size: 48px;
        margin-right: 10px; }
    .column-one .wrapper-banners .banners span {
      display: inline-block; }
      .column-one .wrapper-banners .banners span h5 {
        font-size: 17px;
        font-family: "OpenSans-Light";
        margin: 0; }
      .column-one .wrapper-banners .banners span h4 {
        font-size: 17px;
        margin: 0;
        color: #4c515b; }

/*--------DISCOUNT END----------*/
/*--------PRICE----------*/
.wrapper-price {
  padding-top: 80px;
  padding-bottom: 110px; }
  .wrapper-price .text {
    padding-bottom: 30px; }

.col-price {
  text-align: center;
  border: 1px solid #dde2e8;
  padding: 25px 25px; }
  .col-price p {
    font-size: 50px;
    margin: 0; }
  .col-price span {
    font-family: "OpenSans-ExtraBold"; }
  .col-price h5 {
    font-size: 14px;
    font-family: "OpenSans-Light";
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 25px; }
  .col-price a.button-blue {
    background-color: #52cbf8;
    padding: 15px 25px;
    margin-bottom: 35px; }
  .col-price a.button {
    padding: 17px 29px; }
  .col-price ul {
    padding: 0 0 35px 0;
    margin: 0;
    list-style: none; }
    .col-price ul li {
      border-bottom: 1px solid #dde2e8;
      padding: 15px 0;
      color: #8d9198; }
      .col-price ul li:last-child {
        border: none;
        padding-bottom: 0; }

/*--------PRICE END----------*/
/*--------SIGN UP----------*/
.sign-up {
  background-color: #e7f4f8;
  padding: 60px 0 85px 0; }
  .sign-up input {
    width: 715px;
    border: none;
    padding: 22px 10px 22px 25px; }
  .sign-up a.button {
    padding: 23px 43px; }
  .sign-up form {
    display: inline-block;
    margin-right: -3px; }

.form-button {
  padding-top: 30px;
  text-align: right; }

/*--------SIGN UP END----------*/
/*--------FOOTER----------*/
footer {
  background-color: #4c515b;
  padding: 105px 0;
  color: #d1deef; }
  footer h4 {
    color: #fff; }

.footer-logo {
  padding-top: 75px; }
  .footer-logo a {
    margin-bottom: 8px; }
  .footer-logo p {
    margin: 0;
    padding-left: 60px; }

.links {
  float: left; }
  .links h4 {
    color: #fff; }
  .links ul {
    padding: 0;
    list-style: none;
    margin: 0; }
    .links ul li {
      padding-top: 15px; }
      .links ul li a {
        color: #9ba4b0;
        -webkit-transition: ease .5s;
        -o-transition: ease .5s;
        transition: ease .5s; }
        .links ul li a:hover {
          color: #c0ccdd; }

.links-two {
  margin-left: 50px; }

.contact p {
  color: #9ba4b0; }

.contact span {
  color: #e7f4f8; }

.social {
  margin-top: 18px; }
  .social .fa {
    font-size: 24px;
    color: #9ba4b0;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s; }
  .social a {
    margin-right: 22px; }
    .social a:last-child {
      margin-right: 0; }
    .social a.facebook:hover .fa {
      color: #4867AA; }
    .social a.twitter:hover .fa {
      color: #33FFFF; }
    .social a.instagram:hover .fa {
      color: #D72E78; }
    .social a.google:hover .fa {
      color: #EA4335; }
