body {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  color: #a6afbb; }

.padding {
  padding: 0; }

.padding-left {
  padding-left: 0; }

.padding-right {
  padding-right: 0; }

a {
  outline: none;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: none;
  color: #fff; }

h1, h2, h3, h4, h5, h6, .button {
  font-family: "OpenSans-ExtraBold";
  text-transform: uppercase;
  font-weight: normal;
  color: #556b72;
  margin: 0;
  padding: 0;
  font-size: 14px; }

.button {
  display: inline-block;
  letter-spacing: 1.5px;
  font-size: 13.5px;
  padding: 18px 66px;
  background-color: #ff8261;
  color: #fff; }

.button:hover {
  color: #fff;
  opacity: .8; }

.hr {
  background-color: #ff8261;
  height: 2px;
  width: 21px;
  margin-bottom: 10px; }

.text {
  margin-bottom: 30px; }
  .text .fa {
    color: #ff8261;
    font-size: 22px;
    padding-bottom: 10px; }
  .text h5 {
    font-size: 19px;
    color: #9baeb4;
    font-family: "OpenSans-Regular"; }
  .text h4 {
    font-size: 30px;
    margin-top: -10px; }

.fix {
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.9; }

/***HEADER***/
.top-panel {
  padding-top: 25px; }

.wrapper-logo {
  padding-left: 30px;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px); }

.wrapper-form {
  padding-right: 30px; }

.form {
  color: #484e57;
  border-top: 1px solid #dde2e8;
  border-bottom: 1px solid #dde2e8;
  padding: 13px 0;
  text-align: right; }
  .form p {
    display: inline-block;
    margin: 0; }
  .form span {
    color: #9ba4b0; }
  .form input {
    border: none;
    width: 147px;
    margin-right: 17px; }
  .form .register {
    border-left: 1px solid #9ba4b0;
    padding-left: 15px;
    margin-right: 17px;
    color: #9ba4b0; }
  .form .login {
    border-left: 1px solid #9ba4b0;
    padding-left: 19px;
    margin-right: 7px;
    color: #9ba4b0; }
  .form a:hover {
    color: #484e57; }

/***MENU***/
.primary-menu {
  text-align: left;
  padding-top: 15px; }
  .primary-menu .button-menu {
    display: none; }
    .primary-menu .button-menu::before {
      content: "\f0c9";
      font-family: "FontAwesome";
      padding-right: 5px; }
  .primary-menu ul {
    margin: 0;
    padding: 0;
    font-size: 0; }
  .primary-menu .container {
    padding: 0; }
  .primary-menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
  .primary-menu a {
    display: block;
    background-color: #ff8261;
    color: #fff;
    text-transform: uppercase;
    padding: 23px 27.4px;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    text-align: center;
    font-size: 13px; }
  .primary-menu a:hover {
    background-color: #52cbf8;
    text-decoration: none; }
  .primary-menu .active {
    color: #fff;
    background-color: #52cbf8; }

/*------MENU END----*/
/*------BLOG POST ----*/
.wrapper-blog {
  background: url(../img/Image-here.png);
  background-position: center center;
  padding: 100px 0; }

.left-text {
  padding-left: 15px; }
  .left-text h4 {
    font-size: 40px;
    color: #fff; }
  .left-text h5 {
    font-family: "OpenSans-Light";
    font-size: 20px;
    color: #fff;
    margin-top: -10px; }

/*------BLOG POST   END----*/
/*--------HEADER END--------*/
/*--------CONTENT---------*/
/*--------CONTACT US------*/
.group-contact {
  padding-top: 35px;
  padding-bottom: 85px; }
  .group-contact .text p {
    font-size: 13.5px;
    display: block;
    width: 484px; }
  .group-contact .address, .group-contact .email-address, .group-contact .phone, .group-contact .social-media {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 35px; }
    .group-contact .address h4, .group-contact .email-address h4, .group-contact .phone h4, .group-contact .social-media h4 {
      margin-bottom: 10px; }
    .group-contact .address .hr, .group-contact .email-address .hr, .group-contact .phone .hr, .group-contact .social-media .hr {
      margin-bottom: 3px; }
  .group-contact span {
    font-size: 13.5px;
    color: #a0a9b6;
    font-family: "OpenSans-Regular"; }
  .group-contact .fa {
    font-size: 18px !important; }

.contact-form .text {
  margin-bottom: 20px; }

.contact-form input {
  width: 100%;
  border: 1px solid #dfecf0;
  padding: 10px;
  margin-bottom: 10px;
  color: #6F787B;
  text-transform: capitalize; }
  .contact-form input:focus {
    border: 1px solid #fb6b45; }

.contact-form textarea {
  width: 100%;
  resize: none;
  border: 1px solid #dfecf0;
  color: #6F787B;
  padding: 10px;
  height: 130px;
  text-transform: capitalize;
  margin-bottom: 10px; }
  .contact-form textarea:focus {
    border: 1px solid #fb6b45; }

.contact-form .button {
  float: right;
  width: 118px;
  height: 44px;
  padding: 0;
  text-align: center;
  line-height: 40px;
  font-size: 13px; }

.map {
  background: url(../img/map.png);
  background-position: center center; }
  .map .map-location {
    height: 390px; }

/*--------FOOTER----------*/
footer {
  background-color: #4c515b;
  padding: 105px 0;
  color: #d1deef; }
  footer h4 {
    color: #fff; }

.footer-logo {
  padding-top: 75px; }
  .footer-logo a {
    margin-bottom: 8px; }
  .footer-logo p {
    margin: 0;
    padding-left: 60px; }

.links {
  float: left; }
  .links h4 {
    color: #fff; }
  .links ul {
    padding: 0;
    list-style: none;
    margin: 0; }
    .links ul li {
      padding-top: 15px; }
      .links ul li a {
        color: #9ba4b0;
        -webkit-transition: ease .5s;
        -o-transition: ease .5s;
        transition: ease .5s; }
        .links ul li a:hover {
          color: #c0ccdd; }

.links-two {
  margin-left: 50px; }

.contact p {
  color: #9ba4b0; }

.contact span {
  color: #e7f4f8; }

.social {
  margin-top: 18px; }
  .social .fa {
    font-size: 24px;
    color: #9ba4b0;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s; }
  .social a {
    margin-right: 22px; }
    .social a:last-child {
      margin-right: 0; }
    .social a.facebook:hover .fa {
      color: #4867AA; }
    .social a.twitter:hover .fa {
      color: #33FFFF; }
    .social a.instagram:hover .fa {
      color: #D72E78; }
    .social a.google:hover .fa {
      color: #EA4335; }
