@media screen and (max-width: 1200px) {
  .advantages_block {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; } }

@media screen and (max-width: 992px) {
  .advantages-item {
    font-size: 1.2em; }
  .title {
    font-size: 1.5em; }
  .question-item {
    font-size: 1.5em; } }

@media screen and (max-width: 768px) {
  .description-item {
    font-size: 1.333em;
    line-height: 35px; }
  .advantages-item {
    font-size: 0.9em; }
  .title {
    font-size: 1.1em; }
  .question-item {
    font-size: 1.1em; }
  .advantages-item::after {
    content: "";
    display: inline-block;
    width: 13.5px;
    height: 10px;
    background: url(../img/arrow.png);
    -webkit-background-size: cover;
            background-size: cover;
    margin-right: 10px; } }

@media screen and (max-width: 480px) {
  body {
    font-size: 12px; }
  .item-input {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px; }
  .item-input_bottom {
    margin-top: 0;
    width: 100%; } }

@media screen and (max-width: 414px) {
  body {
    font-size: 11.5px; } }

@media screen and (max-width: 400px) {
  .title-form {
    font-size: 1.4em;
    line-height: 30px; } }

@media screen and (max-width: 340px) {
  .header-logo {
    display: block; } }

@media screen and (max-width: 330px) {
  .question-item:first-child {
    margin-right: 30px; }
  .advantages-item::after {
    display: none; } }
