@media screen and (min-width: 992px) {
  .image-md {
    display: none; } }

@media screen and (min-width: 768px) {
  .img_horizontal {
    display: none; } }

@media screen and (max-width: 992px) {
  .description {
    text-align: center; }
  .name {
    text-align: left;
    margin-bottom: 50px; }
  .image-md {
    margin-bottom: 50px; }
  .image {
    display: none; }
  nav.primary-menu {
    margin-bottom: 95px; }
  .mail, .map, .contact {
    margin-bottom: 25px; } }

@media screen and (max-width: 768px) {
  header {
    padding-bottom: 100px; }
  .description {
    margin-top: 30px; }
    .description .name {
      border-bottom: 10px solid #2d2d2d;
      display: inline-block;
      margin-bottom: 25px;
      position: relative; }
      .description .name::after {
        content: "]";
        font-size: 128px;
        color: #ff3b3b;
        position: absolute;
        top: -16px;
        right: -50px; }
      .description .name span {
        font-size: 3rem !important; }
  .image-md img {
    display: block;
    height: 260px;
    width: 260px;
    margin: 0 auto; }
  .responsive-menu {
    display: block; }
  .primary-menu {
    display: none; }
  img.img_small {
    display: none; } }

@media screen and (max-width: 640px) {
  .skills ul {
    width: 100%; } }

@media screen and (max-width: 480px) {
  .block-img .item_img:nth-last-child(1) {
    display: none; } }

@media screen and (max-width: 375px) {
  .description .name::after {
    font-size: 97px;
    top: -23px;
    right: -40px; }
  .description .name span {
    font-size: 2rem !important; }
  .description .name {
    border-bottom: 7.5px solid #2d2d2d; } }

@media screen and (max-width: 330px) {
  .block-img .item_img:nth-last-child(2) {
    display: none; } }
