@media screen and (max-width:1200px){
	body{
		font-size: 13px;
	}

	.wrapper-logo{
		transform: translateY(20px);
}

	.button{
		font-size: 11.5px;
		letter-spacing:1px;
	}

	.button-search{
		.button{
			padding: 16px 50px;
		}
	}

	.col-price{
		a.button{
			padding: 17px 24px;
		}
	}
	.primary-menu .menu a {
		padding: 23px 19.7px;
		font-size: 12px;
	}
	
	.form{
		text-align:center;

		p{
			display:block;
			margin-bottom:10px;	
		}
		
	}

	

	.form-group{
		input.name{
			width:299px;	
		}

		input.year{
			width:155px;
		}

		input.com{
			width: 155px;
		}
		
	}

	.item-news{
		text-align:center;

		.fa{
			margin-bottom:10px;
		}
	}

	.column-one{
		.wrapper-banners{
				.banners{
					
					h5{
						font-size: 12px;
					}
					h4{
						font-size:31px;
						
					&:nth-child(3){
						font-size: 32px;
						}
					}
					span{
						
						h5{
							font-size: 15px;
						}

						h4{
							font-size: 15px;
						}
					}
				}
		}
}

.column-two,
.column-three{
	li{
		&::before{
			padding-right:10px;
		}
	}
}

.text{
	padding-top:10px;
	h4{
		font-size: 25px;
	}
	h5{
		font-size: 15px;
	}
}

.sign-up{
	input{
		width:585px;
		padding: 20px 10px 20px 25px;
	}
	a.button{
		padding: 22px 40px;
	}
}
	
}


.links-two {
    margin-left: 30px;
}

.social{
	.fa{
		font-size: 20px;
	}

	a{
		margin-right:15px;
	}
}






@media screen and (max-width:992px){

.logo{
	text-align:left;
	padding:15px;
}

.wrapper-logo{
	padding-left:15px;
	transform: translateY(-10px);
}

.wrapper-form{
	padding-right: 25px;
	padding-left: 25px;
}

.primary-menu .button-menu{
		display:block;
		margin-bottom:1px;
}

.primary-menu{
		
		ul{
			display:none;	
		}

		li{
			display:block;
			border-bottom:1px solid #fff;
			&:last-child{
				border-bottom:none;
			}
		}
}

.form {
		text-align:center;
		p{
			display:none;	
		}
		
}
.item-news{
	text-align:inherit;
}

.button-search{
		.button{
			padding: 16px 37px;
		}
	}

	.form-group{
		input.name{
			width:280px;	
		}

		input.year{
			width:150px;
		}

		input.com{
			width: 150px;
		}
		
	}

	

	.button-wrapper{
		padding-top: 50px;
		text-align:center;
		.button{
			padding: 15px 30px;
		}
	}

	.col-price{
		margin-bottom:15px;
	}

	.footer-logo{
		p{
		padding-left:0;
		padding-top:10px;
		}
	}
	.social{
		a{
			margin-right:10px;
		}

		.fa{
			font-size: 15px;
		}
	}
	.sign-up{
	input{
		width:545px;
	}
}
	
}





@media screen and (max-width:768px){

	.logo{
		text-align:center;
	}

	.slider{
		padding-top:140px;
	}

	.form-group{
		input.name, input.year, input.com{
			width:100%;
			padding:0;
			padding-left:15px;
		}
	}

	.button-search{
		text-align:center;
	}


	.item-news{
		text-align:center;
		.text-news{
			float:none;
			margin:0 auto;
			width:100%;
			max-width:400px;
		}
	} 

	
	footer{
		padding:0;
		text-align:center;

		.links{
			display:none;
		}

		.contact{
			margin-bottom:15px;
		}
	}
	.footer-logo{
		text-align:center;
		margin-bottom:35px;
	}

		.sign-up{
		text-align:center;
		form{
			width:100%;
		 	input{
				width:100%;
				margin-bottom:5px;
			}
		}		
	}
	.form-button {
    text-align: center;
   }
}


@media screen and (max-width:468px){
	.sign-up{
		text-align:center;
		input{
			width:400px;
			margin-bottom:5px;
		}
	}
	.form-button {
    text-align: center;
   }

  .links{
  	display:none;
  }

  footer{
  	text-align:center;
  }
  .col-price a.button{
  	padding:5px 15px;
  }

}


@media screen and (max-width:320px){

}